﻿@model DigiKala.Core.ViewModels.Category.ShowCategoriesForUsersViewModel

@{
    ViewData["Title"] = Model.FaTitle;
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}

 

<main>
    <div class="container">
        <nav>
            <ul class="c-breadcrumb">
                <li><a href="#">فروشگاه اینترنتی دیجی‌کالا</a></li>
                <li><span>کالای دیجیتال</span></li>
            </ul>
        </nav>
        <div class="c-category_card js-category_card">
            @foreach (var item in Model.categories)
            {
                <section class="c-category_card_item js-category_card_item">
                    <div class="c-category_card_content">
                        <a href="#">
                            <div class="c-category_card_header">
                                <img class="c-category_card-image" src="/Images/Category/@item.ImgName" />
                                <div class="c-category_card_title">
                                    @item.FaTitle
                                </div>
                            </div>
                        </a>
                       
                        @await Component.InvokeAsync("ShowSubCategoryComponent",item.CategoryId)

                    </div>
                </section>

            }

        </div>

        <section class="c-swiper">
            <div class="c-swiper_headline">
                <span>محصولات پر‌بازدید اخیر</span>
            </div>
            <div class="c-swiper_content js-swiper_content" data-count-lg="4" data-count-xl="5" data-count-xxl="6">
                <div class="c-swiper_container" id="swiper6">
                    <div class="c-swiper_box js-swiper_box swiper-wrapper">

                        <div class="c-swiper_slide swiper-slide" style="width:298.85px">
                            <a class="c-swiper_url" href="#">
                                <span class="c-swiper_img">
                                    <img src="Images/Swiper/digital/12.jpg" alt="کارت حافظه" />
                                </span>
                                <span class="c-swiper_title">
                                    کارت حافظه micro SDHC سن دیسک کلاس 4 ظرفیت 8 گیگابا...
                                </span>
                                <span class="c-swiper_price">
                                    <span class="c-swiper_price-value">
                                        ۴۹,۹۰۰
                                        <span>تومان</span>
                                    </span>
                                </span>
                            </a>
                        </div>
                        <div class="c-swiper_slide swiper-slide" style="width:298.85px">
                            <a class="c-swiper_url" href="#">
                                <span class="c-swiper_img">
                                    <img src="Images/dishwasherliquid/0.jpg" />
                                </span>
                                <span class="c-swiper_title">
                                    کارت حافظه micro SDHC سن دیسک کلاس 4 ظرفیت 8 گیگابا...
                                </span>
                                <span class="c-swiper_price">
                                    <span class="c-swiper_price-value">
                                        ۴۹,۹۰۰
                                        <span>تومان</span>
                                    </span>
                                </span>
                            </a>
                        </div>
                        <div class="c-swiper_slide swiper-slide" style="width:298.85px">
                            <a class="c-swiper_url" href="#">
                                <span class="c-swiper_img">
                                    <img src="Images/homeandkitchen/3.jpg" />
                                </span>
                                <span class="c-swiper_title">
                                    کارت حافظه micro SDHC سن دیسک کلاس 4 ظرفیت 8 گیگابا...
                                </span>
                                <span class="c-swiper_price">
                                    <span class="c-swiper_price-value">
                                        ۴۹,۹۰۰
                                        <span>تومان</span>
                                    </span>
                                </span>
                            </a>
                        </div>
                        <div class="c-swiper_slide swiper-slide" style="width:298.85px">
                            <a class="c-swiper_url" href="#">
                                <span class="c-swiper_img">
                                    <img src="Images/homeandkitchen/4.jpg" />
                                </span>
                                <span class="c-swiper_title">
                                    کارت حافظه micro SDHC سن دیسک کلاس 4 ظرفیت 8 گیگابا...
                                </span>
                                <span class="c-swiper_price">
                                    <span class="c-swiper_price-value">
                                        ۴۹,۹۰۰
                                        <span>تومان</span>
                                    </span>
                                </span>
                            </a>
                        </div>
                        <div class="c-swiper_slide swiper-slide" style="width:298.85px">
                            <a class="c-swiper_url" href="#">
                                <span class="c-swiper_img">
                                    <img src="Images/homeandkitchen/5.jpg" />
                                </span>
                                <span class="c-swiper_title">
                                    کارت حافظه micro SDHC سن دیسک کلاس 4 ظرفیت 8 گیگابا...
                                </span>
                                <span class="c-swiper_price">
                                    <span class="c-swiper_price-value">
                                        ۴۹,۹۰۰
                                        <span>تومان</span>
                                    </span>
                                </span>
                            </a>
                        </div>
                        <div class="c-swiper_slide swiper-slide" style="width:298.85px">
                            <a class="c-swiper_url" href="#">
                                <span class="c-swiper_img">
                                    <img src="Images/homeandkitchen/6.jpg" />
                                </span>
                                <span class="c-swiper_title">
                                    کارت حافظه micro SDHC سن دیسک کلاس 4 ظرفیت 8 گیگابا...
                                </span>
                                <span class="c-swiper_price">
                                    <span class="c-swiper_price-value">
                                        ۴۹,۹۰۰
                                        <span>تومان</span>
                                    </span>
                                </span>
                            </a>
                        </div>
                        <div class="c-swiper_slide swiper-slide" style="width:298.85px">
                            <a class="c-swiper_url" href="#">
                                <span class="c-swiper_img">
                                    <img src="Images/homeandkitchen/7.jpg" />
                                </span>
                                <span class="c-swiper_title">
                                    کارت حافظه micro SDHC سن دیسک کلاس 4 ظرفیت 8 گیگابا...
                                </span>
                                <span class="c-swiper_price">
                                    <span class="c-swiper_price-value">
                                        ۴۹,۹۰۰
                                        <span>تومان</span>
                                    </span>
                                </span>
                            </a>
                        </div>
                        <div class="c-swiper_slide swiper-slide" style="width:298.85px">
                            <a class="c-swiper_url" href="#">
                                <span class="c-swiper_img">
                                    <img src="Images/health/1.jpg" />
                                </span>
                                <span class="c-swiper_title">
                                    کارت حافظه micro SDHC سن دیسک کلاس 4 ظرفیت 8 گیگابا...
                                </span>
                                <span class="c-swiper_price">
                                    <span class="c-swiper_price-value">
                                        ۴۹,۹۰۰
                                        <span>تومان</span>
                                    </span>
                                </span>
                            </a>
                        </div>
                        <div class="c-swiper_slide swiper-slide" style="width:298.85px">
                            <a class="c-swiper_url" href="#">
                                <span class="c-swiper_img">
                                    <img src="Images/health/2.jpg" />
                                </span>
                                <span class="c-swiper_title">
                                    کارت حافظه micro SDHC سن دیسک کلاس 4 ظرفیت 8 گیگابا...
                                </span>
                                <span class="c-swiper_price">
                                    <span class="c-swiper_price-value">
                                        ۴۹,۹۰۰
                                        <span>تومان</span>
                                    </span>
                                </span>
                            </a>
                        </div>

                    </div>
                    <div class="c-swiper_btn-next js-swiper_btn-next"></div>
                    <div class="c-swiper_btn-prev js-swiper_btn-prev"></div>
                </div>
            </div>
        </section>
        <section class="c-swiper">
            <div class="c-swiper_headline">
                <span>محصولات پر‌بازدید اخیر</span>
            </div>
            <div class="c-swiper_content js-swiper_content" data-count-lg="4" data-count-xl="5" data-count-xxl="6">
                <div class="c-swiper_container" id="swiper6">
                    <div class="c-swiper_box js-swiper_box swiper-wrapper">

                        <div class="c-swiper_slide swiper-slide" style="width:298.85px">
                            <a class="c-swiper_url" href="#">
                                <span class="c-swiper_img">
                                    <img src="Images/Swiper/digital/12.jpg" alt="کارت حافظه" />
                                </span>
                                <span class="c-swiper_title">
                                    کارت حافظه micro SDHC سن دیسک کلاس 4 ظرفیت 8 گیگابا...
                                </span>
                                <span class="c-swiper_price">
                                    <span class="c-swiper_price-value">
                                        ۴۹,۹۰۰
                                        <span>تومان</span>
                                    </span>
                                </span>
                            </a>
                        </div>
                        <div class="c-swiper_slide swiper-slide" style="width:298.85px">
                            <a class="c-swiper_url" href="#">
                                <span class="c-swiper_img">
                                    <img src="Images/dishwasherliquid/0.jpg" />
                                </span>
                                <span class="c-swiper_title">
                                    کارت حافظه micro SDHC سن دیسک کلاس 4 ظرفیت 8 گیگابا...
                                </span>
                                <span class="c-swiper_price">
                                    <span class="c-swiper_price-value">
                                        ۴۹,۹۰۰
                                        <span>تومان</span>
                                    </span>
                                </span>
                            </a>
                        </div>
                        <div class="c-swiper_slide swiper-slide" style="width:298.85px">
                            <a class="c-swiper_url" href="#">
                                <span class="c-swiper_img">
                                    <img src="Images/homeandkitchen/3.jpg" />
                                </span>
                                <span class="c-swiper_title">
                                    کارت حافظه micro SDHC سن دیسک کلاس 4 ظرفیت 8 گیگابا...
                                </span>
                                <span class="c-swiper_price">
                                    <span class="c-swiper_price-value">
                                        ۴۹,۹۰۰
                                        <span>تومان</span>
                                    </span>
                                </span>
                            </a>
                        </div>
                        <div class="c-swiper_slide swiper-slide" style="width:298.85px">
                            <a class="c-swiper_url" href="#">
                                <span class="c-swiper_img">
                                    <img src="Images/homeandkitchen/4.jpg" />
                                </span>
                                <span class="c-swiper_title">
                                    کارت حافظه micro SDHC سن دیسک کلاس 4 ظرفیت 8 گیگابا...
                                </span>
                                <span class="c-swiper_price">
                                    <span class="c-swiper_price-value">
                                        ۴۹,۹۰۰
                                        <span>تومان</span>
                                    </span>
                                </span>
                            </a>
                        </div>
                        <div class="c-swiper_slide swiper-slide" style="width:298.85px">
                            <a class="c-swiper_url" href="#">
                                <span class="c-swiper_img">
                                    <img src="Images/homeandkitchen/5.jpg" />
                                </span>
                                <span class="c-swiper_title">
                                    کارت حافظه micro SDHC سن دیسک کلاس 4 ظرفیت 8 گیگابا...
                                </span>
                                <span class="c-swiper_price">
                                    <span class="c-swiper_price-value">
                                        ۴۹,۹۰۰
                                        <span>تومان</span>
                                    </span>
                                </span>
                            </a>
                        </div>
                        <div class="c-swiper_slide swiper-slide" style="width:298.85px">
                            <a class="c-swiper_url" href="#">
                                <span class="c-swiper_img">
                                    <img src="Images/homeandkitchen/6.jpg" />
                                </span>
                                <span class="c-swiper_title">
                                    کارت حافظه micro SDHC سن دیسک کلاس 4 ظرفیت 8 گیگابا...
                                </span>
                                <span class="c-swiper_price">
                                    <span class="c-swiper_price-value">
                                        ۴۹,۹۰۰
                                        <span>تومان</span>
                                    </span>
                                </span>
                            </a>
                        </div>
                        <div class="c-swiper_slide swiper-slide" style="width:298.85px">
                            <a class="c-swiper_url" href="#">
                                <span class="c-swiper_img">
                                    <img src="Images/homeandkitchen/7.jpg" />
                                </span>
                                <span class="c-swiper_title">
                                    کارت حافظه micro SDHC سن دیسک کلاس 4 ظرفیت 8 گیگابا...
                                </span>
                                <span class="c-swiper_price">
                                    <span class="c-swiper_price-value">
                                        ۴۹,۹۰۰
                                        <span>تومان</span>
                                    </span>
                                </span>
                            </a>
                        </div>
                        <div class="c-swiper_slide swiper-slide" style="width:298.85px">
                            <a class="c-swiper_url" href="#">
                                <span class="c-swiper_img">
                                    <img src="Images/health/1.jpg" />
                                </span>
                                <span class="c-swiper_title">
                                    کارت حافظه micro SDHC سن دیسک کلاس 4 ظرفیت 8 گیگابا...
                                </span>
                                <span class="c-swiper_price">
                                    <span class="c-swiper_price-value">
                                        ۴۹,۹۰۰
                                        <span>تومان</span>
                                    </span>
                                </span>
                            </a>
                        </div>
                        <div class="c-swiper_slide swiper-slide" style="width:298.85px">
                            <a class="c-swiper_url" href="#">
                                <span class="c-swiper_img">
                                    <img src="Images/health/2.jpg" />
                                </span>
                                <span class="c-swiper_title">
                                    کارت حافظه micro SDHC سن دیسک کلاس 4 ظرفیت 8 گیگابا...
                                </span>
                                <span class="c-swiper_price">
                                    <span class="c-swiper_price-value">
                                        ۴۹,۹۰۰
                                        <span>تومان</span>
                                    </span>
                                </span>
                            </a>
                        </div>

                    </div>
                    <div class="c-swiper_btn-next js-swiper_btn-next"></div>
                    <div class="c-swiper_btn-prev js-swiper_btn-prev"></div>
                </div>
            </div>
        </section>
        <section class="c-swiper">
            <div class="c-swiper_headline">
                <span>محصولات پر‌بازدید اخیر</span>
            </div>
            <div class="c-swiper_content js-swiper_content" data-count-lg="4" data-count-xl="5" data-count-xxl="6">
                <div class="c-swiper_container" id="swiper6">
                    <div class="c-swiper_box js-swiper_box swiper-wrapper">

                        <div class="c-swiper_slide swiper-slide" style="width:298.85px">
                            <a class="c-swiper_url" href="#">
                                <span class="c-swiper_img">
                                    <img src="Images/Swiper/digital/12.jpg" alt="کارت حافظه" />
                                </span>
                                <span class="c-swiper_title">
                                    کارت حافظه micro SDHC سن دیسک کلاس 4 ظرفیت 8 گیگابا...
                                </span>
                                <span class="c-swiper_price">
                                    <span class="c-swiper_price-value">
                                        ۴۹,۹۰۰
                                        <span>تومان</span>
                                    </span>
                                </span>
                            </a>
                        </div>
                        <div class="c-swiper_slide swiper-slide" style="width:298.85px">
                            <a class="c-swiper_url" href="#">
                                <span class="c-swiper_img">
                                    <img src="Images/dishwasherliquid/0.jpg" />
                                </span>
                                <span class="c-swiper_title">
                                    کارت حافظه micro SDHC سن دیسک کلاس 4 ظرفیت 8 گیگابا...
                                </span>
                                <span class="c-swiper_price">
                                    <span class="c-swiper_price-value">
                                        ۴۹,۹۰۰
                                        <span>تومان</span>
                                    </span>
                                </span>
                            </a>
                        </div>
                        <div class="c-swiper_slide swiper-slide" style="width:298.85px">
                            <a class="c-swiper_url" href="#">
                                <span class="c-swiper_img">
                                    <img src="Images/homeandkitchen/3.jpg" />
                                </span>
                                <span class="c-swiper_title">
                                    کارت حافظه micro SDHC سن دیسک کلاس 4 ظرفیت 8 گیگابا...
                                </span>
                                <span class="c-swiper_price">
                                    <span class="c-swiper_price-value">
                                        ۴۹,۹۰۰
                                        <span>تومان</span>
                                    </span>
                                </span>
                            </a>
                        </div>
                        <div class="c-swiper_slide swiper-slide" style="width:298.85px">
                            <a class="c-swiper_url" href="#">
                                <span class="c-swiper_img">
                                    <img src="Images/homeandkitchen/4.jpg" />
                                </span>
                                <span class="c-swiper_title">
                                    کارت حافظه micro SDHC سن دیسک کلاس 4 ظرفیت 8 گیگابا...
                                </span>
                                <span class="c-swiper_price">
                                    <span class="c-swiper_price-value">
                                        ۴۹,۹۰۰
                                        <span>تومان</span>
                                    </span>
                                </span>
                            </a>
                        </div>
                        <div class="c-swiper_slide swiper-slide" style="width:298.85px">
                            <a class="c-swiper_url" href="#">
                                <span class="c-swiper_img">
                                    <img src="Images/homeandkitchen/5.jpg" />
                                </span>
                                <span class="c-swiper_title">
                                    کارت حافظه micro SDHC سن دیسک کلاس 4 ظرفیت 8 گیگابا...
                                </span>
                                <span class="c-swiper_price">
                                    <span class="c-swiper_price-value">
                                        ۴۹,۹۰۰
                                        <span>تومان</span>
                                    </span>
                                </span>
                            </a>
                        </div>
                        <div class="c-swiper_slide swiper-slide" style="width:298.85px">
                            <a class="c-swiper_url" href="#">
                                <span class="c-swiper_img">
                                    <img src="Images/homeandkitchen/6.jpg" />
                                </span>
                                <span class="c-swiper_title">
                                    کارت حافظه micro SDHC سن دیسک کلاس 4 ظرفیت 8 گیگابا...
                                </span>
                                <span class="c-swiper_price">
                                    <span class="c-swiper_price-value">
                                        ۴۹,۹۰۰
                                        <span>تومان</span>
                                    </span>
                                </span>
                            </a>
                        </div>
                        <div class="c-swiper_slide swiper-slide" style="width:298.85px">
                            <a class="c-swiper_url" href="#">
                                <span class="c-swiper_img">
                                    <img src="Images/homeandkitchen/7.jpg" />
                                </span>
                                <span class="c-swiper_title">
                                    کارت حافظه micro SDHC سن دیسک کلاس 4 ظرفیت 8 گیگابا...
                                </span>
                                <span class="c-swiper_price">
                                    <span class="c-swiper_price-value">
                                        ۴۹,۹۰۰
                                        <span>تومان</span>
                                    </span>
                                </span>
                            </a>
                        </div>
                        <div class="c-swiper_slide swiper-slide" style="width:298.85px">
                            <a class="c-swiper_url" href="#">
                                <span class="c-swiper_img">
                                    <img src="Images/health/1.jpg" />
                                </span>
                                <span class="c-swiper_title">
                                    کارت حافظه micro SDHC سن دیسک کلاس 4 ظرفیت 8 گیگابا...
                                </span>
                                <span class="c-swiper_price">
                                    <span class="c-swiper_price-value">
                                        ۴۹,۹۰۰
                                        <span>تومان</span>
                                    </span>
                                </span>
                            </a>
                        </div>
                        <div class="c-swiper_slide swiper-slide" style="width:298.85px">
                            <a class="c-swiper_url" href="#">
                                <span class="c-swiper_img">
                                    <img src="Images/health/2.jpg" />
                                </span>
                                <span class="c-swiper_title">
                                    کارت حافظه micro SDHC سن دیسک کلاس 4 ظرفیت 8 گیگابا...
                                </span>
                                <span class="c-swiper_price">
                                    <span class="c-swiper_price-value">
                                        ۴۹,۹۰۰
                                        <span>تومان</span>
                                    </span>
                                </span>
                            </a>
                        </div>

                    </div>
                    <div class="c-swiper_btn-next js-swiper_btn-next"></div>
                    <div class="c-swiper_btn-prev js-swiper_btn-prev"></div>
                </div>
            </div>
        </section>
        <section class="c-swiper">
            <div class="c-swiper_headline">
                <span>محصولات پر‌بازدید اخیر</span>
            </div>
            <div class="c-swiper_content js-swiper_content" data-count-lg="4" data-count-xl="5" data-count-xxl="6">
                <div class="c-swiper_container" id="swiper6">
                    <div class="c-swiper_box js-swiper_box swiper-wrapper">

                        <div class="c-swiper_slide swiper-slide" style="width:298.85px">
                            <a class="c-swiper_url" href="#">
                                <span class="c-swiper_img">
                                    <img src="Images/Swiper/digital/12.jpg" alt="کارت حافظه" />
                                </span>
                                <span class="c-swiper_title">
                                    کارت حافظه micro SDHC سن دیسک کلاس 4 ظرفیت 8 گیگابا...
                                </span>
                                <span class="c-swiper_price">
                                    <span class="c-swiper_price-value">
                                        ۴۹,۹۰۰
                                        <span>تومان</span>
                                    </span>
                                </span>
                            </a>
                        </div>
                        <div class="c-swiper_slide swiper-slide" style="width:298.85px">
                            <a class="c-swiper_url" href="#">
                                <span class="c-swiper_img">
                                    <img src="Images/dishwasherliquid/0.jpg" />
                                </span>
                                <span class="c-swiper_title">
                                    کارت حافظه micro SDHC سن دیسک کلاس 4 ظرفیت 8 گیگابا...
                                </span>
                                <span class="c-swiper_price">
                                    <span class="c-swiper_price-value">
                                        ۴۹,۹۰۰
                                        <span>تومان</span>
                                    </span>
                                </span>
                            </a>
                        </div>
                        <div class="c-swiper_slide swiper-slide" style="width:298.85px">
                            <a class="c-swiper_url" href="#">
                                <span class="c-swiper_img">
                                    <img src="Images/homeandkitchen/3.jpg" />
                                </span>
                                <span class="c-swiper_title">
                                    کارت حافظه micro SDHC سن دیسک کلاس 4 ظرفیت 8 گیگابا...
                                </span>
                                <span class="c-swiper_price">
                                    <span class="c-swiper_price-value">
                                        ۴۹,۹۰۰
                                        <span>تومان</span>
                                    </span>
                                </span>
                            </a>
                        </div>
                        <div class="c-swiper_slide swiper-slide" style="width:298.85px">
                            <a class="c-swiper_url" href="#">
                                <span class="c-swiper_img">
                                    <img src="Images/homeandkitchen/4.jpg" />
                                </span>
                                <span class="c-swiper_title">
                                    کارت حافظه micro SDHC سن دیسک کلاس 4 ظرفیت 8 گیگابا...
                                </span>
                                <span class="c-swiper_price">
                                    <span class="c-swiper_price-value">
                                        ۴۹,۹۰۰
                                        <span>تومان</span>
                                    </span>
                                </span>
                            </a>
                        </div>
                        <div class="c-swiper_slide swiper-slide" style="width:298.85px">
                            <a class="c-swiper_url" href="#">
                                <span class="c-swiper_img">
                                    <img src="Images/homeandkitchen/5.jpg" />
                                </span>
                                <span class="c-swiper_title">
                                    کارت حافظه micro SDHC سن دیسک کلاس 4 ظرفیت 8 گیگابا...
                                </span>
                                <span class="c-swiper_price">
                                    <span class="c-swiper_price-value">
                                        ۴۹,۹۰۰
                                        <span>تومان</span>
                                    </span>
                                </span>
                            </a>
                        </div>
                        <div class="c-swiper_slide swiper-slide" style="width:298.85px">
                            <a class="c-swiper_url" href="#">
                                <span class="c-swiper_img">
                                    <img src="Images/homeandkitchen/6.jpg" />
                                </span>
                                <span class="c-swiper_title">
                                    کارت حافظه micro SDHC سن دیسک کلاس 4 ظرفیت 8 گیگابا...
                                </span>
                                <span class="c-swiper_price">
                                    <span class="c-swiper_price-value">
                                        ۴۹,۹۰۰
                                        <span>تومان</span>
                                    </span>
                                </span>
                            </a>
                        </div>
                        <div class="c-swiper_slide swiper-slide" style="width:298.85px">
                            <a class="c-swiper_url" href="#">
                                <span class="c-swiper_img">
                                    <img src="Images/homeandkitchen/7.jpg" />
                                </span>
                                <span class="c-swiper_title">
                                    کارت حافظه micro SDHC سن دیسک کلاس 4 ظرفیت 8 گیگابا...
                                </span>
                                <span class="c-swiper_price">
                                    <span class="c-swiper_price-value">
                                        ۴۹,۹۰۰
                                        <span>تومان</span>
                                    </span>
                                </span>
                            </a>
                        </div>
                        <div class="c-swiper_slide swiper-slide" style="width:298.85px">
                            <a class="c-swiper_url" href="#">
                                <span class="c-swiper_img">
                                    <img src="Images/health/1.jpg" />
                                </span>
                                <span class="c-swiper_title">
                                    کارت حافظه micro SDHC سن دیسک کلاس 4 ظرفیت 8 گیگابا...
                                </span>
                                <span class="c-swiper_price">
                                    <span class="c-swiper_price-value">
                                        ۴۹,۹۰۰
                                        <span>تومان</span>
                                    </span>
                                </span>
                            </a>
                        </div>
                        <div class="c-swiper_slide swiper-slide" style="width:298.85px">
                            <a class="c-swiper_url" href="#">
                                <span class="c-swiper_img">
                                    <img src="Images/health/2.jpg" />
                                </span>
                                <span class="c-swiper_title">
                                    کارت حافظه micro SDHC سن دیسک کلاس 4 ظرفیت 8 گیگابا...
                                </span>
                                <span class="c-swiper_price">
                                    <span class="c-swiper_price-value">
                                        ۴۹,۹۰۰
                                        <span>تومان</span>
                                    </span>
                                </span>
                            </a>
                        </div>

                    </div>
                    <div class="c-swiper_btn-next js-swiper_btn-next"></div>
                    <div class="c-swiper_btn-prev js-swiper_btn-prev"></div>
                </div>
            </div>
        </section>
        <section class="c-swiper">
            <div class="c-swiper_headline">
                <span>محصولات پر‌بازدید اخیر</span>
            </div>
            <div class="c-swiper_content js-swiper_content" data-count-lg="4" data-count-xl="5" data-count-xxl="6">
                <div class="c-swiper_container" id="swiper6">
                    <div class="c-swiper_box js-swiper_box swiper-wrapper">

                        <div class="c-swiper_slide swiper-slide" style="width:298.85px">
                            <a class="c-swiper_url" href="#">
                                <span class="c-swiper_img">
                                    <img src="Images/Swiper/digital/12.jpg" alt="کارت حافظه" />
                                </span>
                                <span class="c-swiper_title">
                                    کارت حافظه micro SDHC سن دیسک کلاس 4 ظرفیت 8 گیگابا...
                                </span>
                                <span class="c-swiper_price">
                                    <span class="c-swiper_price-value">
                                        ۴۹,۹۰۰
                                        <span>تومان</span>
                                    </span>
                                </span>
                            </a>
                        </div>
                        <div class="c-swiper_slide swiper-slide" style="width:298.85px">
                            <a class="c-swiper_url" href="#">
                                <span class="c-swiper_img">
                                    <img src="Images/dishwasherliquid/0.jpg" />
                                </span>
                                <span class="c-swiper_title">
                                    کارت حافظه micro SDHC سن دیسک کلاس 4 ظرفیت 8 گیگابا...
                                </span>
                                <span class="c-swiper_price">
                                    <span class="c-swiper_price-value">
                                        ۴۹,۹۰۰
                                        <span>تومان</span>
                                    </span>
                                </span>
                            </a>
                        </div>
                        <div class="c-swiper_slide swiper-slide" style="width:298.85px">
                            <a class="c-swiper_url" href="#">
                                <span class="c-swiper_img">
                                    <img src="Images/homeandkitchen/3.jpg" />
                                </span>
                                <span class="c-swiper_title">
                                    کارت حافظه micro SDHC سن دیسک کلاس 4 ظرفیت 8 گیگابا...
                                </span>
                                <span class="c-swiper_price">
                                    <span class="c-swiper_price-value">
                                        ۴۹,۹۰۰
                                        <span>تومان</span>
                                    </span>
                                </span>
                            </a>
                        </div>
                        <div class="c-swiper_slide swiper-slide" style="width:298.85px">
                            <a class="c-swiper_url" href="#">
                                <span class="c-swiper_img">
                                    <img src="Images/homeandkitchen/4.jpg" />
                                </span>
                                <span class="c-swiper_title">
                                    کارت حافظه micro SDHC سن دیسک کلاس 4 ظرفیت 8 گیگابا...
                                </span>
                                <span class="c-swiper_price">
                                    <span class="c-swiper_price-value">
                                        ۴۹,۹۰۰
                                        <span>تومان</span>
                                    </span>
                                </span>
                            </a>
                        </div>
                        <div class="c-swiper_slide swiper-slide" style="width:298.85px">
                            <a class="c-swiper_url" href="#">
                                <span class="c-swiper_img">
                                    <img src="Images/homeandkitchen/5.jpg" />
                                </span>
                                <span class="c-swiper_title">
                                    کارت حافظه micro SDHC سن دیسک کلاس 4 ظرفیت 8 گیگابا...
                                </span>
                                <span class="c-swiper_price">
                                    <span class="c-swiper_price-value">
                                        ۴۹,۹۰۰
                                        <span>تومان</span>
                                    </span>
                                </span>
                            </a>
                        </div>
                        <div class="c-swiper_slide swiper-slide" style="width:298.85px">
                            <a class="c-swiper_url" href="#">
                                <span class="c-swiper_img">
                                    <img src="Images/homeandkitchen/6.jpg" />
                                </span>
                                <span class="c-swiper_title">
                                    کارت حافظه micro SDHC سن دیسک کلاس 4 ظرفیت 8 گیگابا...
                                </span>
                                <span class="c-swiper_price">
                                    <span class="c-swiper_price-value">
                                        ۴۹,۹۰۰
                                        <span>تومان</span>
                                    </span>
                                </span>
                            </a>
                        </div>
                        <div class="c-swiper_slide swiper-slide" style="width:298.85px">
                            <a class="c-swiper_url" href="#">
                                <span class="c-swiper_img">
                                    <img src="Images/homeandkitchen/7.jpg" />
                                </span>
                                <span class="c-swiper_title">
                                    کارت حافظه micro SDHC سن دیسک کلاس 4 ظرفیت 8 گیگابا...
                                </span>
                                <span class="c-swiper_price">
                                    <span class="c-swiper_price-value">
                                        ۴۹,۹۰۰
                                        <span>تومان</span>
                                    </span>
                                </span>
                            </a>
                        </div>
                        <div class="c-swiper_slide swiper-slide" style="width:298.85px">
                            <a class="c-swiper_url" href="#">
                                <span class="c-swiper_img">
                                    <img src="Images/health/1.jpg" />
                                </span>
                                <span class="c-swiper_title">
                                    کارت حافظه micro SDHC سن دیسک کلاس 4 ظرفیت 8 گیگابا...
                                </span>
                                <span class="c-swiper_price">
                                    <span class="c-swiper_price-value">
                                        ۴۹,۹۰۰
                                        <span>تومان</span>
                                    </span>
                                </span>
                            </a>
                        </div>
                        <div class="c-swiper_slide swiper-slide" style="width:298.85px">
                            <a class="c-swiper_url" href="#">
                                <span class="c-swiper_img">
                                    <img src="Images/health/2.jpg" />
                                </span>
                                <span class="c-swiper_title">
                                    کارت حافظه micro SDHC سن دیسک کلاس 4 ظرفیت 8 گیگابا...
                                </span>
                                <span class="c-swiper_price">
                                    <span class="c-swiper_price-value">
                                        ۴۹,۹۰۰
                                        <span>تومان</span>
                                    </span>
                                </span>
                            </a>
                        </div>

                    </div>
                    <div class="c-swiper_btn-next js-swiper_btn-next"></div>
                    <div class="c-swiper_btn-prev js-swiper_btn-prev"></div>
                </div>
            </div>
        </section>
        <section class="c-swiper">
            <div class="c-swiper_headline">
                <span>محصولات پر‌بازدید اخیر</span>
            </div>
            <div class="c-swiper_content js-swiper_content" data-count-lg="4" data-count-xl="5" data-count-xxl="6">
                <div class="c-swiper_container" id="swiper6">
                    <div class="c-swiper_box js-swiper_box swiper-wrapper">

                        <div class="c-swiper_slide swiper-slide" style="width:298.85px">
                            <a class="c-swiper_url" href="#">
                                <span class="c-swiper_img">
                                    <img src="Images/Swiper/digital/12.jpg" alt="کارت حافظه" />
                                </span>
                                <span class="c-swiper_title">
                                    کارت حافظه micro SDHC سن دیسک کلاس 4 ظرفیت 8 گیگابا...
                                </span>
                                <span class="c-swiper_price">
                                    <span class="c-swiper_price-value">
                                        ۴۹,۹۰۰
                                        <span>تومان</span>
                                    </span>
                                </span>
                            </a>
                        </div>
                        <div class="c-swiper_slide swiper-slide" style="width:298.85px">
                            <a class="c-swiper_url" href="#">
                                <span class="c-swiper_img">
                                    <img src="Images/dishwasherliquid/0.jpg" />
                                </span>
                                <span class="c-swiper_title">
                                    کارت حافظه micro SDHC سن دیسک کلاس 4 ظرفیت 8 گیگابا...
                                </span>
                                <span class="c-swiper_price">
                                    <span class="c-swiper_price-value">
                                        ۴۹,۹۰۰
                                        <span>تومان</span>
                                    </span>
                                </span>
                            </a>
                        </div>
                        <div class="c-swiper_slide swiper-slide" style="width:298.85px">
                            <a class="c-swiper_url" href="#">
                                <span class="c-swiper_img">
                                    <img src="Images/homeandkitchen/3.jpg" />
                                </span>
                                <span class="c-swiper_title">
                                    کارت حافظه micro SDHC سن دیسک کلاس 4 ظرفیت 8 گیگابا...
                                </span>
                                <span class="c-swiper_price">
                                    <span class="c-swiper_price-value">
                                        ۴۹,۹۰۰
                                        <span>تومان</span>
                                    </span>
                                </span>
                            </a>
                        </div>
                        <div class="c-swiper_slide swiper-slide" style="width:298.85px">
                            <a class="c-swiper_url" href="#">
                                <span class="c-swiper_img">
                                    <img src="Images/homeandkitchen/4.jpg" />
                                </span>
                                <span class="c-swiper_title">
                                    کارت حافظه micro SDHC سن دیسک کلاس 4 ظرفیت 8 گیگابا...
                                </span>
                                <span class="c-swiper_price">
                                    <span class="c-swiper_price-value">
                                        ۴۹,۹۰۰
                                        <span>تومان</span>
                                    </span>
                                </span>
                            </a>
                        </div>
                        <div class="c-swiper_slide swiper-slide" style="width:298.85px">
                            <a class="c-swiper_url" href="#">
                                <span class="c-swiper_img">
                                    <img src="Images/homeandkitchen/5.jpg" />
                                </span>
                                <span class="c-swiper_title">
                                    کارت حافظه micro SDHC سن دیسک کلاس 4 ظرفیت 8 گیگابا...
                                </span>
                                <span class="c-swiper_price">
                                    <span class="c-swiper_price-value">
                                        ۴۹,۹۰۰
                                        <span>تومان</span>
                                    </span>
                                </span>
                            </a>
                        </div>
                        <div class="c-swiper_slide swiper-slide" style="width:298.85px">
                            <a class="c-swiper_url" href="#">
                                <span class="c-swiper_img">
                                    <img src="Images/homeandkitchen/6.jpg" />
                                </span>
                                <span class="c-swiper_title">
                                    کارت حافظه micro SDHC سن دیسک کلاس 4 ظرفیت 8 گیگابا...
                                </span>
                                <span class="c-swiper_price">
                                    <span class="c-swiper_price-value">
                                        ۴۹,۹۰۰
                                        <span>تومان</span>
                                    </span>
                                </span>
                            </a>
                        </div>
                        <div class="c-swiper_slide swiper-slide" style="width:298.85px">
                            <a class="c-swiper_url" href="#">
                                <span class="c-swiper_img">
                                    <img src="Images/homeandkitchen/7.jpg" />
                                </span>
                                <span class="c-swiper_title">
                                    کارت حافظه micro SDHC سن دیسک کلاس 4 ظرفیت 8 گیگابا...
                                </span>
                                <span class="c-swiper_price">
                                    <span class="c-swiper_price-value">
                                        ۴۹,۹۰۰
                                        <span>تومان</span>
                                    </span>
                                </span>
                            </a>
                        </div>
                        <div class="c-swiper_slide swiper-slide" style="width:298.85px">
                            <a class="c-swiper_url" href="#">
                                <span class="c-swiper_img">
                                    <img src="Images/health/1.jpg" />
                                </span>
                                <span class="c-swiper_title">
                                    کارت حافظه micro SDHC سن دیسک کلاس 4 ظرفیت 8 گیگابا...
                                </span>
                                <span class="c-swiper_price">
                                    <span class="c-swiper_price-value">
                                        ۴۹,۹۰۰
                                        <span>تومان</span>
                                    </span>
                                </span>
                            </a>
                        </div>
                        <div class="c-swiper_slide swiper-slide" style="width:298.85px">
                            <a class="c-swiper_url" href="#">
                                <span class="c-swiper_img">
                                    <img src="Images/health/2.jpg" />
                                </span>
                                <span class="c-swiper_title">
                                    کارت حافظه micro SDHC سن دیسک کلاس 4 ظرفیت 8 گیگابا...
                                </span>
                                <span class="c-swiper_price">
                                    <span class="c-swiper_price-value">
                                        ۴۹,۹۰۰
                                        <span>تومان</span>
                                    </span>
                                </span>
                            </a>
                        </div>

                    </div>
                    <div class="c-swiper_btn-next js-swiper_btn-next"></div>
                    <div class="c-swiper_btn-prev js-swiper_btn-prev"></div>
                </div>
            </div>
        </section>
    </div>
</main>

@section script{

    <script>
        mobile();
        Category_Cart();
    </script>
}