﻿@model IEnumerable<Digikala.DataLayer.Entities.Slider>
@{
    Layout = null;
}

<section class="c-main_slider c-desktop_main-slider js-main_slider">
    <div class="c-slider_slide swiper-wrapper">
        @foreach (var item in Model)
        {
            <a class="c-slide js-slide swiper-slide" title="@item.Description" style="background: url(/Images/slider/@item.ImageName) no-repeat 50% 50%" href="@item.Link"></a>

        }
    </div>
    <div class="c-slider_donts">
    </div>
    <div class="c-slider_next js-slider_next "></div>
    <div class="c-slider_prev js-slider_prev"></div>
</section>

<section class="c-main_slider mobile-main_slider js-main_slider">
    <div class="c-slider_slide swiper-wrapper">
        @foreach (var item in Model)
        {
            <a class="c-slide js-slide swiper-slide" title="@item.Description" style="background: url(/Images/slider/mobile_slider/@item.ImageName) no-repeat 50% 50%" href="@item.Link"></a>

        }
    </div>
    <div class="c-slider_donts">
    </div>
    <div class="c-slider_next js-slider_next "></div>
    <div class="c-slider_prev js-slider_prev"></div>
</section>