﻿@model DigiKala.Core.ViewModels.Product.ProductReviewViewModel
@using DigiKala.Core.ExtensionMethods
@{
    Layout = null;
}

<article>
    <h2 class="c-params_headline">
        نقد و بررسی تخصصی
        <span>@ViewData["Title"]</span>
    </h2>
    <section class="c-tabs_content-desc_summray">
        <div class="c-mask js-mask">
            <div class="c-mask_text js-mask_text" style="max-height:250px;">
                <p>
                    @Model.Summary
                </p>
            </div>
            <a class="c-mask_btn js-mask_btn">ادامه مطلب</a>
        </div>
    </section>
    <section class="c-tabs_content-desc_stats">
        @if (Model.ReviewRatingViewModels.Count() > 0)
        {
            <div class="c-tabs_content-desc_stats-aside">
                <ul class="c-tabs_content-desc_rating">
                    @foreach (var item in Model.ReviewRatingViewModels)
                    {
                        <li>
                            <div class="cell">@item.Title</div>
                            <div class="cell">
                                <div class="c-rating" data-rate="@item.Value.GetRatingRange()">
                                    <div class="c-rating_rate" style="width:@item.Value%"></div>
                                </div>
                            </div>
                        </li>
                    }

                </ul>
            </div>
        }

        <div class="c-tabs_content-desc_stats-aside">
            <div class="c-tabs_content-desc_stats-evaluation">
                @if (Model.Positive.Trim() != null)
                {
                    string[] str = Model.Positive.Split("=");

                    <div class="c-tabs_content-desc_stats-evaluation_positive">
                        <span>نقاط قوت</span>
                        <ul>
                            @foreach (var item in str)
                            {
                                <li>@item</li>
                            }
                        </ul>
                    </div>

                }
                @if (Model.Negative.Trim() != null)
                {
                    string[] negative_str = Model.Negative.Split("=");

                    <div class="c-tabs_content-desc_stats-evaluation_negetive">
                        <span>نقاط ضعف</span>
                        <ul>
                            @foreach (var item in negative_str)
                            {
                                <li>@item</li>
                            }

                        </ul>
                    </div>
                }

            </div>
        </div>
    </section>
    <div class="c-tabs_content-desc_review">
        <p>
            @Model.ShortReview
        </p>
    </div>
    <div class="c-tabs_content-desc_articles">
        @Html.Raw(Model.Reivew)
    </div>
</article>