﻿<!DOCTYPE html>
 
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] | فروشگاه اینترنتی دیجی‌کالا</title>
    <meta name="viewport" content="width=device-width" />
    <link href="/Css/swiper.min.css" rel="stylesheet" />
    @RenderSection("style", false)
    <link href="/Css/nouislider.min.css" rel="stylesheet" />
    <link href="/Css/StyleSheet.css" type="text/css" rel="stylesheet" />
    <link href="/Css/Default.css" type="text/css" rel="stylesheet" />
    <link href="/Css/Style_1366.css" type="text/css" rel="stylesheet" media="screen and (min-width:1366px" />
    <link href="/Css/StyleSheet_Max_1365.css" type="text/css" rel="stylesheet" media="screen and (max-width:1365px" />
    <link href="/Css/Mobile_Style.css" type="text/css" rel="stylesheet" media="screen and (max-width:720px" />
    <title></title>
</head>

<body class="@ViewBag.BodyClass">

    <partial name="_Header" />

    <div class="c-cover js-cover"></div>

    @RenderBody()

    <partial name="_Footer" />


    <script src="/js/jquery3-6-0.js"></script>
    <script src="/js/persianumber.js"></script>
    <script src="/js/nouislider.min.js"></script>
    <script src="/js/Main.js"></script>
    <script src="/js/swiper.min.js"></script>
    @RenderSection("script", false)
    <script>
        mobile();
    </script>
</body>
</html>