﻿




<footer class="c-footer">
    <div class="container">
        <div class="c-footer_jump-top">
            <span class="c-footer_jump-top_container js-footer_jump-top_container">
                <span class="c-footer_jump-top_icon"></span>
                برگشت به بالا
            </span>
        </div>

        <div class="c-footer_feature">
            <a href="#">
                <div class="c-footer-feature_items c-sliders_right-feature_items-1">تحویل اکسپرس</div>
            </a>
            <a href="#">
                <div class="c-footer-feature_items c-sliders_right-feature_items-2">پشتیبانی ۲۴ ساعته</div>
            </a>
            <a href="#">
                <div class="c-footer-feature_items c-sliders_right-feature_items-3">پرداخت در محل</div>
            </a>
            <a href="#">
                <div class="c-footer-feature_items c-sliders_right-feature_items-4">هفت روز با ضمانت بازگشت</div>
            </a>
            <a href="#">
                <div class="c-footer-feature_items c-sliders_right-feature_items-5">ضمانت اصل بودن کالا</div>
            </a>
        </div>
        <hr />
        <div class="c-footer_about">
            <div class="c-footer_links">
                <nav class="c-footer_links-col">
                    <div class="c-footer_links-headline">
                        <div>
                            <a href="#">راهنمای خرید از دیجی‌کالا</a>
                        </div>
                    </div>
                    <ul class="c-footer_links-ul">
                        <li>
                            <a href="#">نحوه ی ثبت سفارش</a>
                        </li>
                        <li>
                            <a href="#">رویه ی ارسال سفارش</a>
                        </li>
                        <li>
                            <a href="#">شیوه ی پرداخت</a>
                        </li>
                    </ul>
                </nav>
                <nav class="c-footer_links-col">
                    <div class="c-footer_links-headline">
                        <div>
                            <a href="#">خدمات مشتریان</a>
                        </div>
                    </div>
                    <ul class="c-footer_links-ul">
                        <li>
                            <a href="#">پاسخ به پرسش های متداول</a>
                        </li>
                        <li>
                            <a href="#">رویه های بازگرداندن کالا</a>
                        </li>
                        <li>
                            <a href="#">شرایط استفاده</a>
                        </li>
                        <li>
                            <a href="#">حریم خصوصی</a>
                        </li>

                    </ul>
                </nav>
                <nav class="c-footer_links-col">
                    <div class="c-footer_links-headline">
                        <div>
                            <a href="#">با دیجی‌کالا</a>
                        </div>
                    </div>
                    <ul class="c-footer_links-ul">
                        <li>
                            <a href="#">فروش در دیجی کالا</a>
                        </li>
                        <li>
                            <a href="#">همکاری با سازمان</a>
                        </li>
                        <li>
                            <a href="#">فرصت های شغلی</a>
                        </li>
                        <li>
                            <a href="#">تماس با دیجی‌کالا</a>
                        </li>
                        <li>
                            <a href="#">درباره دیجی‌کالا</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="c-footer_form">
                <form class="c-form_newsletter">
                    <fieldset>
                        <legend class="c-form_newsletter-title">
                            از تخفیف‌ها و جدیدترین‌های دیجی‌کالا باخبر شوید:
                        </legend>
                        <div class="c-form_newsletter-row">
                            <input class="c-form_newsletter-input" placeholder="آدرس ایمیل خود را وارد کنید" />
                            <button type="submit" class="c-form_newsletter-btn">ارسال</button>
                        </div>
                    </fieldset>
                </form>
                <div class="c-footer_community">
                    <div class="c-footer_social">
                        <span>
                            دیجی‌کالا را در شبکه‌های اجتماعی دنبال کنید:
                        </span>
                        <div class="c-footer_social-image">
                            <div class="c-footer_social-instagram">
                                <a href="#">
                                   <img src="/Images/footer/instagram.svg" width="25px" />
                                    اینستاگرام دیجی‌کالا
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div class="c-footer_address">
            <ul class="c-footer_contact">
                <li>هفت روز هفته ، شبانه‌روز پاسخگوی شما هستیم</li>
                <li>
                    شماره تماس :
                    <a href="#">
                        ۰۲۱-۶۱۹۳۰۰۰۰
                    </a>,
                    <a href="#">
                        ۰۲۱-۹۵۱۱۹۰۹۵
                    </a>

                </li>
                <li>
                    آدرس ایمیل :
                    <a href="#">
                        info@digikala.com
                    </a>
                </li>
            </ul>
            <div class="c-footer_address-images">
                <a href="#">
                   <img src="/Images/footer/coffe-bazzar.svg" />
                   <img src="/Images/footer/sib-app.svg" />
                </a>
            </div>
        </div>
    </div>
    <div class="c-footer_more-info">
        <div class="container">
            @if (Context.Request.Path == "/") { 
            <div class="c-footer_desription">
                <div class="c-footer_discription-content">
                    <article class="c-footer_seo">
                        <h1>فروشگاه اینترنتی دیجی‌کالا، بررسی، انتخاب و خرید آنلاین</h1>
                        <p>
                            <span class="c-footer_seo-content">
                                دیجی‌کالا به عنوان یکی از قدیمی‌ترین فروشگاه های اینترنتی با بیش از یک دهه تجربه، با پایبندی به سه اصل، پرداخت در محل، 7 روز ضمانت بازگشت کالا و تضمین اصل‌بودن کالا موفق شده تا همگام با فروشگاه‌های معتبر جهان، به بزرگ‌ترین فروشگاه اینترنتی ایران تبدیل شود. به محض ورود به سایت دیجی‌کالا با دنیایی از کالا رو به رو می‌شوید! هر آنچه که نیاز دارید و به ذهن شما خطور می‌کند در اینجا پیدا خواهید کرد.
                            </span>
                            <span class="c-footer_seo-readmore js-footer_seo-readmore" style="display: none;">
                                حتی زمانی که بین خرید کالاها برای شخصی مردد هستید می‌توانید با خریدکارت هدیه دیجی کالا، انتخاب را به سایرین بسپارید. این فروشگاه مثل یک ویترین پر زرق و برق است که با انواع و اقسام محصولاتی نظیرگوشی موبایل سامسونگ،ساعت هوشمند اپل،تلویزیون سامسونگ،لپ تاپ و الترابوک ایسوس،گوشی موبایل هواویو همچنین محصولاتی که هر فرد در زندگی شخصی، تحصیلی و کاری خود به آنها احتیاج پیدا می‌کند، چیده شده است. اینجا مرجع متنوع‌ترین کالاهای مصرفی ازگوشی موبایل موتورولاگرفته تاتبلت لنوو،اتو پاناسونیک،جارو شارژی بلک اند دکر،کولر آبی آبسال،اسپیکر (بلندگو) جی بی الو حتی خریدلوازم جهیزیهمی‌باشد. دیجی‌کالا همچنین یک بازار آنلاین برای خرید جدیدترین و ضروری‌ترین لوازم خانگی همانندسرخ کن فیلیپس،یخچال و فریزر امرسان،جاروبرقی پارس خزر،آبمیوه گیری بوش،سینمای خانگی و ساندبار سونیوانواع پخش کننده خانگیمی‌باشد تا هر فرد بتواند مطابق با سلیقه شخصی خود، خانه رویاهایش را بسازد. حتی می‌توانید از مشهورترین برندهای داخلی و خارجی انواعمدل مانتو جدید،لباس خواب زنانه،پیراهن مردانه،پیراهن و لباس مجلسی زنانه،لباس بچه گانه،شومیز زنانه و دخترانهو انواعلباس زیر مردانهرا به صورت آنلاین با کمک راهنمای سایز خریداری کنید. این فروشگاه اینترنتی حتی برای سرگرمی کودکان هم خرید محصولاتی مانندعروسک،مدل‌های اسباب بازیدخترانه و پسرانه و انواعلگورا فراهم کرده است. همچنین با سر زدن به محصولات آرایشی و بهداشتی زنانه و مردانه مانندعطر و ادکلن دیور،لالیک،جگوار،گرلن اصل،انواع دستگاه اصلاح موی صورت فیلیپس،موزر،پاناسونیکو حتی بهترین برندهایرنگ مو و ابرومی‌توانید تجربه‌ای جدید از خرید آنلاین کسب کنید. شما می توانید کلیه نیازهای خود را تنها با چند کلیک سفارش داده و در کمترین زمان ممکن درب منزل تحویل بگیرید. دیجی‌کالا مگ رسانه‌ی آنلاین دیجی‌کالا با موضوع فناوری، هنر و سینما و سبک زندگی مدرن است. در دیجی‌کالا مگ می‌توانید نقد و بررسی تخصصی محصولات دیجی‌کالا را بخوانید و ببینید. جدیدترین اخبارجشنواره فیلم فجررا در دیجی‌کالا مگ دنبال کنید.
                            </span>
                            <a class="c-footer_btn-readmore js-footer_btn-readmore">مشاهده‌ بیشتر</a>
                            <br />
                            <a href="#">
                                اسباب بازی
                            </a>
                            <a href="#">
                                عطر و ادکلن
                            </a>
                            <a href="#">
                                تلوزیون
                            </a>

                            <a href="#">
                                مانتو
                            </a>
                        </p>
                    </article>
                </div>
                <aside>
                    <ul class="c-footer_enamad">
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </aside>
            </div>
            }
            
            <nav>
                <ul class="c-footer_other_site">
                    <li>
                        <a href="#">
                           <img src="/Images/footer/digistyle.svg" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                           <img src="/Images/footer/digiplus.svg" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                           <img src="/Images/footer/fidibo.svg" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                           <img src="/Images/footer/digimag.svg" />
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="c-footer_copyright">
                <div class="c-footr_copyright-text">
                    برای استفاده از مطالب دیجی‌کالا، داشتن «هدف غیرتجاری» و ذکر «منبع» کافیست. تمام حقوق اين وب‌سايت نیز برای شرکت نوآوران فن آوازه (فروشگاه آنلاین دیجی‌کالا) است.
                </div>
            </div>
        </div>
    </div>
</footer>
