﻿@model Digikala.DataLayer.Entities.Property.PropertyName

@{
    ViewData["Title"] = "CreatePropertyName";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="content">
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title" asp-action="CategoryList">ایجاد نام خصوصیت</h3>
        </div>

        <div class="row">
            <div class="col-md-4">
                <form asp-action="CreatePropertyName">
                    <div class="box-body">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        
                        <div class="form-group">
                            <label asp-for="Title" class="control-label"></label>
                            <input asp-for="Title" class="form-control" />
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Priority" class="control-label"></label>
                            <input asp-for="Priority" class="form-control" />
                            <span asp-validation-for="Priority" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input asp-for="UseInSearchPage" /> @Html.DisplayNameFor(model => model.UseInSearchPage)
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="WikiText" class="control-label"></label>
                            <input asp-for="WikiText" class="form-control" />
                            <span asp-validation-for="WikiText" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="PropertyGroupId" class="control-label"></label>
                            <select asp-for="PropertyGroupId" asp-items="@(new SelectList(ViewBag.Groups,"Id","Title"))" class="form-control "></select>
                            <span asp-validation-for="PropertyGroupId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="CategoryId" class="control-label"></label>
                            <select asp-for="CategoryId" asp-items="@(new SelectList(ViewBag.Category,"Id","Title"))" class="form-control "></select>
                            <span asp-validation-for="CategoryId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="ذخیره" class="btn btn-default" />
                        </div>
                    </div>
                </form>
            </div>
        </div> 
    </div>
</div>