﻿@model Digikala.DataLayer.Entities.Property.PropertyValue

@{
    ViewData["Title"] = "CreatePropertyValue";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="content">
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title" asp-action="CreatePropertyValue">ایجاد مقدار خصوصیت</h3>
        </div>

        <div class="row">
            <div class="col-md-4">
                <form asp-action="CreatePropertyValue">
                    <div class="box-body">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                      
                        <div class="form-group">
                            <label asp-for="Value" class="control-label"></label>
                            <input asp-for="Value" class="form-control" />
                            <span asp-validation-for="Value" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="WikiText" class="control-label"></label>
                            <input asp-for="WikiText" class="form-control" />
                            <span asp-validation-for="WikiText" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="PropertyNameId" class="control-label"></label>
                            <select asp-for="PropertyNameId" asp-items="@(new SelectList(ViewBag.names,"Id","Title"))" class="form-control "></select>
                            <span asp-validation-for="PropertyNameId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="ذخیره" class="btn btn-default" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
 
    </div>
</div>
