﻿@model IEnumerable<Digikala.DataLayer.Entities.Property.PropertyName>

@{
    ViewData["Title"] = "PropertyNameList";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    int pagecount = (int)Math.Ceiling((double)ViewBag.pagecount / 4);
    int pagenumber = ViewBag.pagenumber;
}
 
<div class="content">
    @if (TempData["res"] != null)
    {
        @if (TempData["res"].ToString() == "success")
        {
            <div class="alert alert-success alert-dismissible">
                <button type="button" class="close pull-left" data-dismiss="alert" aria-hidden="true">×</button>
                عملیات با موفقیت انجام شد.
            </div>
        }
        @if (TempData["res"].ToString() == "faild")
        {
            <div class="alert alert-danger alert-dismissible">
                <button type="button" class="close pull-left" data-dismiss="alert" aria-hidden="true">×</button>
                خطا در انجام عملیات!
            </div>
        }
    }
<div class="box">
    <div class="box-header with-border">
        <a asp-action="CreatePropertyName" class="btn btn-primary">ایجاد نام خصوصیت </a>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.PropertyNameId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Priority)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UseInSearchPage)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.WikiText)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PropertyGroupId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CategoryId)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.PropertyNameId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Priority)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UseInSearchPage)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.WikiText)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PropertyGroupId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CategoryId)
                    </td>
                    <td>
                        <a asp-action="EditPropertyName" asp-route-id="@item.PropertyNameId" class="btn btn-info">ویرایش</a> 
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @if (pagecount > 1)
    {
        <div class="Paging">
            <div class="c-pager">
                <ul class="c-pager_items">
                    @for (int i = 1; i <= pagecount; i++)
                    {
                        <li>
                            <a asp-action="PropertyNameList" asp-route-id="@i" class="c-pager_item @(i==pagenumber ? "is-active":"")">@i</a>
                        </li>
                    }

                </ul>
            </div>
        </div>
    }
</div>
</div>