﻿@model IEnumerable<Digikala.DataLayer.Entities.Property.PropertyValue>

@{
    ViewData["Title"] = "PropertyValueList";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    int pagecount = (int)Math.Ceiling((double)ViewBag.pagcount / 4);
    int pagenumber = ViewBag.pagenumber;

}                
<div class="content">
    @if (TempData["res"] != null)
    {
        @if (TempData["res"].ToString() == "success")
        {
            <div class="alert alert-success alert-dismissible">
                <button type="button" class="close pull-left" data-dismiss="alert" aria-hidden="true">×</button>
                عملیات با موفقیت انجام شد.
            </div>
        }
        @if (TempData["res"].ToString() == "faild")
        {
            <div class="alert alert-danger alert-dismissible">
                <button type="button" class="close pull-left" data-dismiss="alert" aria-hidden="true">×</button>
                خطا در انجام عملیات!
            </div>
        }
    }
<div class="box">
    <div class="box-header with-border">
        <a asp-action="CreatePropertyValue" class="btn btn-primary">ایجاد مقدار خصوصیات</a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.PropertyValueId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Value)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.WikiText)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PropertyNameId)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.PropertyValueId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Value)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.WikiText)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PropertyNameId)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @if (pagecount > 1)
    {
        <div class="Paging">
            <div class="c-pager">
                <ul class="c-pager_items">
                    @for (int i = 1; i <= pagecount; i++)
                    {
                        <li>
                            <a asp-action="PropertyValueList" asp-route-id="@i" class="c-pager_item @(i==pagenumber ? "is-active":"")">@i</a>
                        </li>
                    }

                </ul>
            </div>
        </div>
    }
</div>
</div>