﻿@model IEnumerable<Digikala.DataLayer.Entities.DigikalaCategory.Category>

@{
    Layout = null;
}


@if (Model.Count() > 0)
{

    <ul class="c-category_card-list">
        @foreach (var item in Model)
        {
            <li><a href="#">@item.FaTitle</a></li>

        }

    </ul>



}

