﻿@model DigiKala.Core.ViewModels.EditMenuViewModel
@{
    ViewData["Title"] = "EditMenu";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    TempData["ParentMenuId"] = Model.ParentMenuId;
    Model.SubMenuList = Model.SubMenuList.Where(s => s.IsHidden == false).ToList();
}

<div class="content">
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title" asp-action="CategoryList">ویرایش منو</h3>
        </div>
        <div class="row">
            <div class="col-md-12">
                <form asp-action="EditMenu" enctype="multipart/form-data">
                    <div class="box-body">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group col-md-3">
                            <label asp-for="ParentMenuTitle" class="control-label"></label>
                            <input asp-for="ParentMenuTitle" class="form-control" />
                            <span asp-validation-for="ParentMenuTitle" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-3">
                            <label asp-for="ParentLink" class="control-label"></label>
                            <input asp-for="ParentLink" dir="ltr" class="form-control" />
                            <span asp-validation-for="ParentLink" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-3">
                            <label asp-for="ParentSort" class="control-label"></label>
                            <input asp-for="ParentSort" class="form-control" />
                            <span asp-validation-for="ParentSort" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-3">
                            <a class="btn btn-info btn-add" style="margin-top:24px;">افزودن زیر منو</a>
                        </div>
                        <div class="form-group col-md-12">
                            <ul class="todo-list ui-sortable submenulist">
                                @for (int i = 0; i < Model.SubMenuList.Count; i++)
                                 {
                                <li class="submenu col-md-12">
                                    <div class="form-group col-md-2">
                                        <label asp-for="@Model.SubMenuList[i].SubMenuTitle" class="control-label"></label>
                                        <input asp-for="@Model.SubMenuList[i].SubMenuTitle" class="form-control" />
                                        <span asp-validation-for="@Model.SubMenuList[i].SubMenuTitle" class="text-danger"></span>
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label asp-for="@Model.SubMenuList[i].SubMenuLink" class="control-label"></label>
                                        <input asp-for="@Model.SubMenuList[i].SubMenuLink" dir="ltr" class="form-control" />
                                        <span asp-validation-for="@Model.SubMenuList[i].SubMenuLink" class="text-danger"></span>
                                    </div>
                                    <div class="form-group col-md-1">
                                        <label asp-for="@Model.SubMenuList[i].SubMenuSort" class="control-label"></label>
                                        <input asp-for="@Model.SubMenuList[i].SubMenuSort" dir="ltr" class="form-control" />
                                        <span asp-validation-for="@Model.SubMenuList[i].SubMenuSort" class="text-danger"></span>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label asp-for="@Model.SubMenuList[i].Image" class="control-label"></label>
                                        <input asp-for="@Model.SubMenuList[i].Image" type="file" accept="image/*" dir="ltr" class="form-control" />
                                        <span asp-validation-for="@Model.SubMenuList[i].Image" class="text-danger"></span>
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label asp-for="@Model.SubMenuList[i].Type" class="control-label"></label>
                                        <select class='form-control' asp-for="@Model.SubMenuList[i].Type">
                                            <option value='1'>زیرمنوی اصلی</option>

                                            <option value='2'> زیرمنوی فرعی</option>

                                            <option value='3'> عکس اصلی</option>

                                            <option value='4'> عکس کوچک اصلی</option>

                                            <option value='5'> عکس کوچک</option>
                                        </select>
                                        <span asp-validation-for="@Model.SubMenuList[i].Type" class="text-danger"></span>
                                    </div>
                                    <div class="form-group col-md-1">
                                        @*datetiem does not let the browser cache the images*@
                                        @Html.Raw(String.IsNullOrEmpty(Model.SubMenuList[i].CurrentImage) ? "" : "<img src='/Images/Menu/" + Model.SubMenuList[i].CurrentImage +"?"+DateTime.Now+ "'class='thumbnail' width='100' />")
                                    </div>
                                    <input type='hidden' value='false' asp-for='@Model.SubMenuList[i].IsHidden' />
                                    <div class='form-group tools  col-md-1' style='display: flex; justify-content: center; align-items: center; margin-top: 31px;'>
                                    <i class='fa fa-trash-o btn-remove'></i>

                                    </div>
                                </li>
                                 }
                            </ul>
                        </div>
                        <div class="form-group col-md-12">
                            <input type="submit" value="ذخیره" class="btn btn-success" />
                            <a asp-action="MenuList" class="btn btn-danger"> انصراف </a>

                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>


@section script{
    <script src="~/js/jquery.validate.min.js"></script>
    <script src="~/js/jquery.validate.unobtrusive.js"></script>
    <script>
        var counter = @Model.SubMenuList.Count;
        $('.btn-add').click(function () {
            var title = "<li class='submenu col-md-12'><input type='hidden' value='false' name='SubMenuList[" + counter + "].IsHidden' />" +
                "<div class='form-group col-md-2' > <label class='control-label' for='SubMenuList[" + counter + "].SubMenuTitle' >عنوان منو</label>" +
                "<input class='form-control' type='text'  maxlength='50' name='SubMenuList[" + counter + "].SubMenuTitle'>" +
                "<span class='text-danger field-validation-valid' data-valmsg-for='SubMenuList[" + counter + "].SubMenuTitle' data-valmsg-replace='true'></span></div> ";

            var link = "<div class='form-group col-md-2'><label class='control-label' for= 'SubMenuList[" + counter + "].SubMenuLink' > لینک</label >" +
                "<input class='form-control' type='text'  maxlength='250' name='SubMenuList[" + counter + "].SubMenuLink'>" +
                "<span class='text-danger field-validation-valid' data-valmsg-for='SubMenuList[" + counter + "].SubMenuLink' data-valmsg-replace='true'></span></div>";

            var sort = "<div class='form-group col-md-2'><label class='control-label' for='SubMenuList[" + counter + "].SubMenuSort'>ترتیب</label>" +
                "<input class='form-control' type='number' name='SubMenuList[" + counter + "].SubMenuSort'>" +
                "<span class='text-danger'></span> </div>";

            var img = "<div class='form-group  col-md-2'><label asp-for='SubMenuList[" + counter + "].Image' class='control-label'>انتخاب عکس</label>" +
                "<input  name='SubMenuList[" + counter + "].Image' accept='image/*' type='file' class='form-control' />" +
                "<span  class='text-danger'></span></div>";

            var type = "<div class='form-group col-md-2'><label class='control-label' for='SubMenuList[" + counter + "].Type' >نوع منو</label>" +
                "<select class='form-control' name='SubMenuList[" + counter + "].Type'>" +
                "<option value='1'>زیرمنوی اصلی</option>" +
                "<option value ='2'> زیرمنوی فرعی</option > " +
                "<option value ='3'> عکس اصلی</option > " +
                "<option value ='4'> عکس کوچک اصلی</option > " +
                "<option value ='5'> عکس کوچک</option ></select></div>" +
                "<div class='form-group tools  col-md-2' style='display: flex; justify-content: center; align-items: center; margin-top: 31px;'><i class='fa fa-trash-o btn-remove'></i></div></li>";

            $('.submenulist').append(title + link + sort + img + type);

            $("input[name='SubMenuList[" + counter + "].SubMenuTitle']").rules('add', {
                maxlength: 50,
                required: true,
                messages: {
                    required: "لطفا عنوان را وارد نمایید!",
                    maxlength: "مقدار عنوان بیشتر از 50 نباشد"

                }
            });
            $("input[name='SubMenuList[" + counter + "].SubMenuLink']").rules('add', {
                maxlength: 250,
                required: true,
                messages: {
                    required: "لطفا لینک را وارد نمایید!",
                    maxlength: "مقدار لینک بیشتر از 250 نباشد"

                }
            });
            counter++;

            $('.submenulist').delegate('.btn-remove', 'click', function () {
                $(this).parents('.submenu').hide();
                $(this).parents('.submenu').find('input[type=hidden]').val('true'); 
                $(this).parents('.submenu').find('input[type=text]').val(1);
                $(this).parents('.submenu').find('input[type=number]').val(1);
            });
        });
    </script>
}