﻿@model IEnumerable<Digikala.DataLayer.Entities.Banners.Banner>

@{
    ViewData["Title"] = "BannerList";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    int pagecount = (int)Math.Ceiling((double)ViewBag.pagecount / 4);
    int pagenumber = ViewBag.pagenumber;
}

<div class="content">
    @if (TempData["res"] != null)
    {
        @if (TempData["res"].ToString() == "success")
        {
            <div class="alert alert-success alert-dismissible">
                <button type="button" class="close pull-left" data-dismiss="alert" aria-hidden="true">×</button>
                عملیات با موفقیت انجام شد.
            </div>
        }
        @if (TempData["res"].ToString() == "faild")
        {
            <div class="alert alert-danger alert-dismissible">
                <button type="button" class="close pull-left" data-dismiss="alert" aria-hidden="true">×</button>
                خطا در انجام عملیات!
            </div>
        }
    }
<div class="box">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.BannerId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsActive)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.BannerId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        <a asp-action="ChangeActive" asp-route-id="@item.BannerId" class="btn btn-warning">
                            @(item.IsActive==true ? "غیرفعال کردن" : "فعال کردن")
                        </a>
                    </td>
                    <td>
                        <a asp-action="EditBanner" asp-route-id="@item.BannerId" class="btn btn-info">ویرایش</a>
                        <select id="categorylist" asp-items="Html.GetEnumSelectList<BannerColor>()" class="form-control col-md-5"></select>

                    </td>
                </tr>
            }
        </tbody>
    </table>
    @if (pagecount > 1)
    {
        <div class="Paging">
            <div class="c-pager">
                <ul class="c-pager_items">
                    @for (int i = 1; i <= pagecount; i++)
                    {
                        <li>
                            <a asp-action="BannerList" asp-route-id="@i" class="c-pager_item @(i==pagenumber ? "is-active":"")">@i</a>
                        </li>
                    }

                </ul>
            </div>
        </div>
    }

</div>
</div>


<div class="modal fade in" id="modal-delete" style="padding-right: 17px;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">حذف</h4>
            </div>
            <div class="modal-body">
                <p>آیا میخواهید این بنر را حذف کنید؟</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">خیر</button>
                <form asp-action="DeleteBanner">
                    <button type="submit" class="btn btn-primary">بله</button>
                    <input type="hidden" name="id" class="deletd-id" />
                </form>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

@section script{
    <script>
        $('.btn-delete').click(function () {

            var id = $(this).data('id');
            $('.deletd-id').val(id);
        });
    </script>
}