﻿@model DigiKala.Core.ViewModels.EditSliderViewModel

@{
    ViewData["Title"] = "EditSlider";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    TempData["imgname"] = Model.CurrentImageName;
    TempData["sliderid"] = Model.SliderId;
}


<div class="content">
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">ایجاد اسلایدر جدید</h3>
        </div>
        <div class="row">
            <div class="col-md-4">
                <form asp-action="EditSlider" enctype="multipart/form-data">
                    <div class="box-body">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                   
                        <div class="form-group">
                            <label asp-for="Description" class="control-label"></label>
                            <input asp-for="Description" class="form-control" />
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Sort" class="control-label"></label>
                            <input asp-for="Sort" class="form-control" />
                            <span asp-validation-for="Sort" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Link" class="control-label"></label>
                            <input asp-for="Link" class="form-control" />
                            <span asp-validation-for="Link" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <img src="~/Images/slider/@Model.CurrentImageName" width="500" class="thumbnail" />
                        </div>
                        <div class="form-group">
                            <label asp-for="DesktopImg" class="control-label"></label>
                            <input asp-for="DesktopImg" type="file" class="form-control" />
                            <span asp-validation-for="DesktopImg" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <img src="~/Images/slider/mobile_slider/@Model.CurrentImageName" width="200" class="thumbnail" />
                        </div>
                        <div class="form-group">
                            <label asp-for="MobileImg" class="control-label"></label>
                            <input asp-for="MobileImg" type="file" class="form-control" />
                            <span asp-validation-for="MobileImg" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="ویرایش" class="btn btn-primary" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div>
    <a asp-action="SliderList">بازگشت به لیست</a>
</div>

