﻿@model IEnumerable<Digikala.DataLayer.Entities.Slider>

@{
    ViewData["Title"] = "SliderList";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    int pagecount = (int)Math.Ceiling((double)ViewBag.pagecount / 4);
    int pagenumber = ViewBag.pagenumber;
}

<div class="content">
    @if (TempData["res"] != null)
    {  
        @if (TempData["res"].ToString() == "success")
        {
            <div class="alert alert-success alert-dismissible">
                <button type="button" class="close pull-left" data-dismiss="alert" aria-hidden="true">×</button>
                عملیات با موفقیت انجام شد.
            </div>
        }
        @if (TempData["res"].ToString() == "faild")
        {
            <div class="alert alert-danger alert-dismissible">
                <button type="button" class="close pull-left" data-dismiss="alert" aria-hidden="true">×</button>
                خطا در انجام عملیات!
            </div>
        }
    }
<div class="box">
    <div class="box-header with-border">
        <a asp-action="CreatSlider" class="btn btn-success">ایجاد اسلایدر</a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ImageName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Sort)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Link)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        <img src="~/Images/slider/mobile_slider/@item.ImageName" width="150" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Sort)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Link)
                    </td>
                    <td>
                        <a asp-action="EditSlider" asp-route-id="@item.Id" class="btn btn-primary">ویرایش</a>
                        <button type="button" class="btn btn-danger btn-delete" data-id="@item.Id" data-toggle="modal" data-target="#modal-delete">
                            حذف
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @if (pagecount > 1)
    {
        <div class="Paging">
            <div class="c-pager">
                <ul class="c-pager_items">
                    @for (int i = 1; i <= pagecount; i++)
                    {
                        <li>
                            <a asp-action="SliderList" asp-route-id="@i" class="c-pager_item @(i==pagenumber ? "is-active":"")">@i</a>
                        </li>
                    }

                </ul>
            </div>
        </div>
    }
</div>
</div>


<div class="modal fade in" id="modal-delete" style="padding-right: 17px;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">حذف</h4>
            </div>
            <div class="modal-body">
                <p>آیا میخواهید این اسلاید را حذف کنید؟</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">خیر</button>
                <form asp-action="DeleteSlider">
                    <button type="submit" class="btn btn-primary">بله</button>
                    <input type="hidden" name="id" class="deletd-id" />
                </form>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

@section script{
    <script>
        $('.btn-delete').click(function () {

            var id = $(this).data('id');
            $('.deletd-id').val(id);
        });
    </script>
}