﻿@model DigiKala.Core.ViewModels.Product.AddProductViewModel

@{
    ViewData["Title"] = "CreateProduct";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
} 

<div class="content">
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title" asp-action="CreateProduct">ایجاد محصول جدید</h3>
        </div>

        <div class="row">
            <div class="col-md-4">
                <form asp-action="CreateProduct" enctype="multipart/form-data">
                    <div class="box-body">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="FaTitle" class="control-label"></label>
                            <input asp-for="FaTitle" class="form-control" />
                            <span asp-validation-for="FaTitle" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="EnTitle" class="control-label"></label>
                            <input asp-for="EnTitle" class="form-control" />
                            <span asp-validation-for="EnTitle" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="CategoryId" class="control-label"></label>
                            <select asp-for="CategoryId" asp-items="@(new SelectList(ViewBag.Categorylist,"Id","Title"))" class="form-control"></select>
                            <span asp-validation-for="CategoryId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="BrandId" class="control-label"></label>
                            <select asp-for="BrandId" asp-items="@(new SelectList(ViewBag.Brandlist,"Id","Title"))" class="form-control"></select>
                            <span asp-validation-for="BrandId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ImgName" class="control-label"></label>
                            <input asp-for="ImgName" type="file" accept="image/*" class="form-control" />
                            <span asp-validation-for="ImgName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input asp-for="IsPublished" /> @Html.DisplayNameFor(model => model.IsPublished)
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="ذخیره" class="btn btn-success" />
                            <a asp-action="MenuList" class="btn btn-danger"> انصراف </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>