﻿@model IEnumerable<DigiKala.Core.ViewModels.Product.ProductListViewModel>

@{
    ViewData["Title"] = "ProductList";
    Layout = null;
    int pagecount = (int)Math.Ceiling((double)ViewBag.count / 2);

    int pagenumber = ViewBag.pagenumber;
    string searchtext = ViewBag.searchtext;
}

<div id="productlist">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FaTitle)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Image)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FaTitle)
                    </td>
                    <td>
                        @Html.Raw(String.IsNullOrEmpty(item.Image) ? "" : "<img src='/Images/Product/" + @item.Image + "' class='thumbnail' width='100' />")
                    </td>
                    <td>
                        <a asp-action="GalleryList" asp-route-id="@item.Id" class="btn btn-info">گالری</a>
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>
                </tr>
            }
        </tbody>
    </table>

    @(pagecount>1 ? Html.Raw(pagecount.GetPaging(pagenumber, "js-pager_item")):Html.Raw(""))
</div>

<script>
    $('#productlist').delegate('.js-pager_item', 'click', function () {

        var pagenum = parseInt($(this).data('pagenumber'));

        $('#list').load("/Admin/Catalog/ProductList", { searchtext: '@Html.Raw(ViewBag.searchtext)', pagenumber: pagenum});

    });

</script>