﻿@model IEnumerable<DigiKala.Core.ViewModels.Category.CategoryForBrandViewModel>

@{
    Layout = null;
}

@if (Model.Count() > 0)
{

    <div class="c-box">
        <div class="c-box_header c-box_toggleable js-box_toggleable">
            دسته‌بندی
        </div>
        <div class="c-filter js-box_filter">
            <div class="c-box_search-in-result">
                <input class="c-box_search-input js-box_search-input js-filter_input" type="text" placeholder="جستجوی دسته‌بندی" />
                <span class="c-box_search-input_clear js-box_search-input_clear"></span>
            </div>
            <div class="c-box_scroll">
                <ul>
                    @foreach (var item in Model)
                    {
                        <li>
                            <label class="c-filter_lable js-filter_lable" data-en="" data-fa="@item.FaTitle" for="Categoryid@item.Id">@item.FaTitle</label>
                            <label class="c-box_checkbox">
                                <input type="checkbox" id="Categoryid@item.Id" />
                                <span class="c-box_checkbox-check"></span>
                            </label>
                        </li>
                    }


                </ul>
            </div>
        </div>
    </div>

}