﻿@model DigiKala.Core.ViewModels.Category.CreateCategoryViewModel

@{
    ViewData["Title"] = "CreateCategory";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="content">
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title" asp-action="CategoryList">ایجاد دسته‌بندی</h3>
        </div>

        <form asp-action="CreateCategory" enctype="multipart/form-data">
            <div class="box-body">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group col-md-6">
                    <label asp-for="FaTitle" class="control-label"></label>
                    <input asp-for="FaTitle" class="form-control" />
                    <span asp-validation-for="FaTitle" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="EnTitle" class="control-label"></label>
                    <input asp-for="EnTitle" class="form-control" />
                    <span asp-validation-for="EnTitle" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Image" class="control-label"></label>
                    <input asp-for="Image" accept="image/*" type="file" class="form-control" />
                    <span asp-validation-for="Image" class="text-danger"></span>
                </div>
                <div class="form-group  col-md-6">
                    <select id="categorylist" asp-items="@(new SelectList(ViewBag.Categorylist,"Id","Title"))" class="form-control col-md-5"></select>
                    <div class="col-md-2"><a class="btn btn-success btn-add">افزودن</a></div>
                    <div class="Parenlist col-md-5"></div>
                </div>
                <div class="form-group text-center">
                    <input type="submit" value="ذخیره" class="btn btn-primary" />
                </div>
            </div>
        </form>

    </div>
</div>
<div class="text-center">
    <a class="btn btn-info" asp-action="CategoryList">بازگشت به لیست</a>
</div>

@section script{
    <script src="~/js/jquery.validate.min.js"></script>
    <script src="~/js/jquery.validate.unobtrusive.js"></script>
    <script>
        $('.btn-add').click(function () {

            if ($('#categorylist').val()) {

                var value = $('#categorylist').children("option:selected").val();
                var text = $('#categorylist').children("option:selected").text();
                $('.Parenlist').append("<div style='padding:7px' class='btn btn-block btn-info'><button type ='button' style='margin-left:0' class='close pull-left btn-remove' >×</button >" +
                    "<input type='hidden' value='" + value + "' name='ParentList'/><span class='ParentText' style='margin-left:10px'>" + text + "</span></div>");

                $('#categorylist').children("option:selected").remove();
            } 
        });
        $('.Parenlist').delegate(".btn-remove", "click", function () {

            var text = $(this).nextAll($('.ParentText')).text();
            var value = $(this).nextAll($('input [type = hidden]')).val();

            $('#categorylist').append($('<option>', {

                value: value,
                text: text
            }));

            $(this).parent().remove();
        });
    </script>

}