﻿@model IEnumerable<Digikala.DataLayer.Entities.Product.ProductImage>

@{
    ViewData["Title"] = "GalleryList";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    TempData["Productimage"]=ViewBag.productid;
}
<div class="content">
    @if (TempData["res"] != null)
    {
        @if (TempData["res"].ToString() == "success")
        {
            <div class="alert alert-success alert-dismissible">
                <button type="button" class="close pull-left" data-dismiss="alert" aria-hidden="true">×</button>
                عملیات با موفقیت انجام شد.
            </div>
        }
        @if (TempData["res"].ToString() == "faild")
        {
            <div class="alert alert-danger alert-dismissible">
                <button type="button" class="close pull-left" data-dismiss="alert" aria-hidden="true">×</button>
                خطا در انجام عملیات!
            </div>
        }
    }
    <div class="box">
        <div class="box-header with-border">
            <a class="btn btn-primary" data-toggle="modal" data-target="#modal-add">افزودن تصویر جدید</a>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ProductImageId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ImgName)
                    </th>

                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductImageId)
                        </td>
                        <td>
                            <img src="~/Images/Product/gallery/thubms/@item.ImgName" class="thumbnail" width="150" />
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>



<div class="modal fade in" id="modal-add" style="padding-right: 17px;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">حذف</h4>
            </div>
            <div class="modal-body">
                <p>آیا میخواهید این دسته‌بندی را حذف کنید؟</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">انصراف</button>
                <form asp-action="CreateProductImage" enctype="multipart/form-data">
                    <div class="form-control">
                        <input type="file" accept="image/*" name="imagename" />
                    </div>

                    <button type="submit" class="btn btn-success">ثبت</button>
                </form>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

@section script{
    <script>
        $('.btn-delete').click(function () {

            var id = $(this).data('id');
            $('.deletd-id').val(id);
        });
    </script>
}