﻿@{ 

    string Control = ViewContext.RouteData.Values["Controller"].ToString();

    string Action = ViewContext.RouteData.Values["Action"].ToString();


}
 
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-right image">
                <img src="dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
            </div>
            <div class="pull-right info">
                <p>علیرضا حسینی زاده</p>
                <a href="#"><i class="fa fa-circle text-success"></i> آنلاین</a>
            </div>
        </div>
        <!-- search form -->
       
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">منو</li>
            <li class="treeview @(Control =="Banner" ? "active" : "")">
                <a href="#">
                    <i class="fa fa-dashboard"></i> <span>بنر </span>
                    <span class="pull-left-container">
                        <i class="fa fa-angle-right pull-left"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="@(Action.Contains("Slider") ? "active" : "")"><a asp-controller="Banner" asp-action="SliderList"><i class="fa fa-circle-o"></i>اسلایدر اصلی</a></li>

                </ul>
            </li>
            <li class="treeview @(Control =="Catalog" ? "active" : "")">
                <a href="#">
                    <i class="fa fa-dashboard"></i> <span>کاتالوگ</span>
                    <span class="pull-left-container">
                        <i class="fa fa-angle-right pull-left"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="@(Action.Contains("Category") ? "active" : "")"><a asp-controller="Catalog" asp-action="CategoryList"><i class="fa fa-circle-o"></i>دسته‌بندی ها</a></li>
                    <li class="@(Action.Contains("Product") ? "active" : "")"><a asp-controller="Catalog" asp-action="ProductListContainer"><i class="fa fa-circle-o"></i>محصولات</a></li>
                    <li class="treeview @(Action.Contains("Property") ? "active menu-open" : "") ">
                        <a href="#">
                            <i class="fa fa-circle-o"></i> خصوصیات
                            <span class="pull-left-container">
                                <i class="fa fa-angle-right pull-left"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu" style="display: @(Action.Contains("Property") ? "block" : "");">
                            <li class="@(Action.Contains("PropertyGroup") ? "active" : "")"><a asp-controller="Catalog" asp-action="PropertyGroupList" asp-route-id="1"><i class="fa fa-circle-o"></i>گروه خصوصیات</a></li>
                            <li class="@(Action.Contains("PropertyName") ? "active" : "")"><a asp-controller="Catalog" asp-action="PropertyNameList" asp-route-id="1"><i class="fa fa-circle-o"></i>نام خصوصیات</a></li>
                            <li class="@(Action.Contains("PropertyValue") ? "active" : "")"><a asp-controller="Catalog" asp-action="PropertyValueList" asp-route-id="1"><i class="fa fa-circle-o"></i>مقدار خصوصیات</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="treeview @(Control =="Modules" ? "active" : "")">
                <a href="#">
                    <i class="fa fa-dashboard"></i> <span>ماژول</span>
                    <span class="pull-left-container">
                        <i class="fa fa-angle-right pull-left"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="@(Action.Contains("Menu") ? "active" : "")"><a asp-controller="Modules" asp-action="MenuList"><i class="fa fa-circle-o"></i>منو اصلی</a></li>
                </ul>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>