﻿@using DigiKala.Core.ViewModels.Product;
@using DigiKala.Core.ExtensionMethods;
@model List<CommentForUserViewModel>

@{
    Layout = null;
    int pagecount = (int)Math.Ceiling((double)ViewBag.commentcount / 4);

    int pagenumber = ViewBag.Commentpagenumber;
    int sort = ViewBag.CommetnSort;
}

<div class="c-tabs_content-comments_filter">
    <span class="c-faq_filter-title">نظرات کاربران</span>
    <ul class="c-faq_filter-items" data-title="مرتب‌سازی براساس:">
        <li><a class="@(ViewBag.CommetnSort ==1 ? "is-active" : "js-sort_item")" data-sort="1">نظر خریداران</a></li>
        <li><a class="@(ViewBag.CommetnSort ==2 ? "is-active" : "js-sort_item")" data-sort="2">مفیدترین نظرات</a></li>
        <li><a class="@(ViewBag.CommetnSort ==3 ? "is-active" : "js-sort_item")" data-sort="3">جدیدترین نظرات</a></li>
    </ul>
</div>
<div>
    <ul class="c-comments_list">
        @foreach (var item in Model)
        {
            <li>
                <section>
                    <div class="c-comments_list-asid">
                        <div class="c-comments_lis-header in-mobile">
                            <div>
                                @item.CommentTitle
                                <span>توسط @item.UserName در تاریخ @item.CreateDate.GetMonthPersian()</span>
                            </div>
                            <div class="mobile-comments_user-purchased">خریدار</div>
                        </div>
                        <div class="c-comments_user-purchased in-desktop">خریدار محصول</div>
                        <ul class="c-comments_user-shopping">
                            <li>
                                <div class="c-comments_list-asid_row">رنگ خریداری شده:</div>
                                <div class="c-comments_list-asid_row c-comments_list-asid_color-row">
                                    <span class="c-comments_list-asid_color-value" style="background-color:#212121;"></span>
                                    مشکی
                                </div>
                            </li>
                            <li>
                                <div class="c-comments_list-asid_row">خریداری شده از:</div>
                                <div class="c-comments_list-asid_row c-comments_list-asid-seller_row">
                                    <a class="c-link_underline">دیجی‌کالا</a>
                                </div>
                            </li>
                        </ul>
                        <div class="c-comments_user-purchased c-comments_user-advice">خرید این محصول را توصیه می‌کنم</div>
                    </div>
                    <div class="c-comments_lis-content">
                        <div class="c-comments_lis-header in-desktop">
                            <div>
                                @item.CommentTitle
                                <span>توسط @item.UserName در تاریخ @item.CreateDate.GetMonthPersian()</span>
                            </div>
                        </div>
                        @if (item.Positive != null || item.Negative != null)
                        {
                            <div class="c-comments_evaluations">
                                <div class="c-comments_evaluations-positive">
                                    @if (item.Positive != null)
                                    {
                                        <span>نقاط قوت</span>
                                        <ul>
                                            @foreach (var item1 in item.Positive.GetEvaluation())
                                            {
                                                <li>@item1</li>
                                            }
                                        </ul>
                                    }

                                </div>
                                <div class="c-comments_evaluations-negative">

                                    @if (item.Negative != null)
                                    {
                                        <span>نقاط ضعف</span>
                                        <ul>
                                            @foreach (var item2 in item.Negative.GetEvaluation())
                                            {
                                                <li>@item2</li>
                                            }
                                        </ul>
                                    }
                                </div>
                            </div>
                        }

                        <p>
                            @item.CommentText
                        </p>
                        <div class="c-comments_lis-footer">
                            <div class="c-comments_likes">
                                آیا این نظر برایتان مفید بود؟
                                <button class="btn-like " data-counter="@item.CommentLike">بله</button>
                                <button class="btn-like btn-dislike" data-counter="@item.CommentDisLike">خیر</button>
                            </div>
                        </div>
                    </div>
                </section>
            </li>
        }


    </ul>
@Html.Raw(pagecount.GetPaging(pagenumber, "js-comment_pager-item"))
</div>

<script>
    $('#CommentList').delegate('.js-comment_pager-item', 'click', function () {

        var pagenum = parseInt($(this).data('pagenumber'));

        $('#CommentList').load("/Product/CommentList/@ViewBag.idproduct", { pagenumber: pagenum, sort: @ViewBag.CommetnSort, commentcount:@ViewBag.commentcount});

    });
      $('#CommentList').delegate('.js-sort_item', 'click', function () { 

          var sort = parseInt($(this).data('sort'));

          $('#CommentList').load("/Product/CommentList/@ViewBag.idproduct", { pagenumber: 1, sort: sort, commentcount:@ViewBag.commentcount});

    });
</script>