﻿@model IEnumerable<DigiKala.Core.ViewModels.Product.FAQShowUserViewModel>

@{
    Layout = null;
    var questionlist = Model.GroupBy(q => q.QuestionId).Select(q => new
    {

        QuestionId = q.Key,
        QuestionText = q.First().QuestionText,
        CreateDate = q.First().CreateDate,
        AnswerCount = q.First().AnswerCount,
        QuestionUser = q.First().QuestionUser,

        Answer = q.Select(a => a.Answer).ToList()

    }).ToList();

    int pagecount = (int)Math.Ceiling((double)ViewBag.faqcount / 4);

    int pagenumber = ViewBag.faqpagenumber;
    int sort = ViewBag.faqSort;
}

<div id="faqcontent">
    <div class="c-tabs_content-comments_filter">
        <span class="c-faq_filter-title">
            پرسش‌ها و پاسخ‌ها
            <span>(@ViewBag.faqcount پرسش)</span>
        </span>
        <ul class="c-faq_filter-items" data-title="مرتب‌سازی براساس:">
            <li><a class="@(ViewBag.faqSort ==1 ? "is-active" : "js-faqsort_item")" data-sort="1">جدیدترین پرسش‌</a></li>
            <li><a class="@(ViewBag.faqSort ==2 ? "is-active" : "js-faqsort_item")" data-sort="2">بیشترین پاسخ به پرسش‌</a></li>
            <li><a class="@(ViewBag.faqSort ==3 ? "is-active" : "js-faqsort_item")" data-sort="3">پرسش‌های شما</a></li>
        </ul>
    </div>
    <div class="c-faq_list-content">

        @foreach (var item in questionlist)
        {
            <ul class="c-faq_list">
                <li>
                    <div>
                        <div class="c-faq_header c-faq_header-question">
                            <p class="in-desktop">
                                پرسش
                                <span>@item.QuestionUser</span>
                            </p>

                            <p class="in-mobile">
                                <span class="block">پرسش</span>
                                <span>@item.QuestionUser</span>
                                <span>(@item.CreateDate.GetMonthPersian())</span>
                            </p>
                        </div>

                        <p class="c-faq_content">
                            @item.QuestionText
                        </p>
                        <div class="c-faq_footer">
                            <span class="in-desktop">@item.CreateDate.GetMonthPersian()</span>
                            <a href="#" class="c-link_underline">به این پرسش پاسخ دهید (@item.AnswerCount پاسخ)</a>
                        </div>
                    </div>
                </li>

                @foreach (var item1 in item.Answer)
                {


                    @if (item1.AnswerId != null)
                    {
                        <li>
                            <div>
                                <div class="c-faq_header c-faq_header-answer">
                                    <p>
                                        پاسخ
                                        <span>@item1.AnswerUser</span>
                                    </p>
                                </div>

                                <p class="c-faq_content">
                                    @item1.AnswerText
                                </p>
                                <div class="c-faq_footer">
                                    <span class="in-desktop">
                                        @{
                                            DateTime dt = DateTime.Parse(item1.AnswerDate);
                                            dt.GetMonthPersian();
                                        }
                                    </span>
                                    <div class="c-comments_likes">
                                        آیا این پاسخ برایتان مفید بود؟
                                        <button class="btn-like" data-counter="@item1.Like">بله</button>
                                        <button class="btn-like btn-dislike" data-counter="@item1.DisLike">خیر</button>
                                    </div>
                                </div>
                            </div>
                        </li>
                    }

                }
            </ul>
        }

        @*<ul class="c-faq_list">

                <li>
                    <div>
                        <div class="c-faq_header c-faq_header-answer in-desktop">
                            <p>
                                پاسخ
                            </p>
                        </div>
                        <div class="c-faq_answer">
                            <div class="c-faq_answer-row">
                                <div class="c-faq_answer-col_form">
                                    <span>به این سوال پاسخ دهید</span>
                                    <form class="c-faq_form-answer">
                                        <div class="c-faq_form-answer_row">
                                            <div class="c-faq_form-answer_col">
                                                <textarea class="c-textarea"></textarea>
                                            </div>
                                        </div>
                                        <div class="c-faq_form-answer_row">
                                            <div class="c-faq_form-answer_col c-faq_form-answer_col-submint">
                                                <button class="c-faq_answer-btn">ثبت پاسخ</button>
                                            </div>
                                            <div class="c-faq_form-answer_col c-faq_form-answer_col-agreement">
                                                <p>
                                                    با انتخاب دکمه "ثبت پاسخ"، موافقیت خود را با
                                                    <a class="c-link_underline">قوانین انتشار محتوا</a>
                                                    در دیجی‌کالا اعلام می‌کنم.
                                                </p>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="c-faq_answer-col_rules">
                                    <span class="c-faq_rules-headline">چگونه یک پاسخ مناسب بنویسیم ؟</span>
                                    <ul class="c-faq_rules-list">
                                        <li>
                                            <span>قبلا از این محصول استفاده کرده‌اید</span>
                                            <p>همیشه بهتر است به سوالاتی پاسخ دهید که سوال شخصی شما پیش از این بوده و با تجربه یا تحقیق پاسخ آن را بدست آورده‌اید.</p>
                                        </li>
                                        <li>
                                            <span>خوانندگان خود را آموزش دهید</span>
                                            <p>اگر سوال پرسیده شده راجع به تخصص شماست، بدون تعصب، پاسخ مرتبط را به شیوه‌ای که خواننده بتواند از آن استفاده کند، ارائه دهید.</p>
                                        </li>
                                        <li>
                                            <span>خودتان باشید، آموزنده باشید.</span>
                                            <p>نظرات و انتقادات خودتان را بازگو کنید، اما به یاد داشته باشید که نظراتتان باید منطقی باشد.</p>
                                        </li>
                                        <li>
                                            <span>مختصرگو باشید</span>
                                            <p>خلاق باشید اما موضوع نقد را فراموش نکنید، یک عنوان جذاب خواننده را همیشه جذب می‌کند.</p>
                                        </li>
                                        <li>
                                            <span>خوانا بنویسید</span>
                                            <p>یک ویرایش صحیح و کنترل املا صحیح کلمات اعتبار بیشتری به نقد و بررسی نوشته توسط شما می‌دهد. همچنین برای بالا رفتن خوانایی، فاصله گذاری و بالت گذاری را رعایت کنید.</p>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>
                </li>
            </ul>*@
    </div>
    @Html.Raw(pagecount.GetPaging(pagenumber, "js-faq_pager-item"))
</div>
<script>
    $('#faqcontent').delegate('.js-faq_pager-item', 'click', function () {
        var remodalload = $('[data-remodal-id=load]').remodal();
        var pagenum = parseInt($(this).data('pagenumber'));
         $.ajax({ 
                    type: 'Post',
                    url: "/Product/FAQ/@ViewBag.idproduct",
             data: { pagenumber: pagenum, sort: @sort, faqcount: @ViewBag.faqcount },
                    beforeSend: function () {
                          remodalload.open();
                    },
                    success: function (res) {
                        $('#faqlist').html(res);
                        scrolltotab();
                        $('#faqcontent').html(To_Fa_Digit($('#faqcontent').html()));
                        setTimeout(function () {remodalload.close();},500);

                    }

         })

    });
    $('#faqcontent').delegate('.js-faqsort_item', 'click', function () {
        var remodalload = $('[data-remodal-id=load]').remodal();
          var sort = parseInt($(this).data('sort'));
            $.ajax({

                        type: 'Post',
                        url: "/Product/FAQ/@ViewBag.idproduct",
                data: { pagenumber: 1, sort: sort, faqcount: @ViewBag.faqcount },
                        beforeSend: function () {
                            remodalload.open();
                        },
                        success: function (res) {
                            $('#faqlist').html(res);
                            scrolltotab();
                            $('#faqcontent').html(To_Fa_Digit($('#faqcontent').html()));
                            setTimeout(function () { remodalload.close();},500);

                        }

           })

    });
</script>