﻿@model DigiKala.Core.ViewModels.Product.ProductDetailsUserViewModel

@{
    ViewData["Title"] = Model.FaTitle;

    ViewData["EnTitle"] = Model.EnTitle;

    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}

@section style{
    <link href="/Css/swiper.min.css" rel="stylesheet" />
    <link href="/Css/remodal.css" rel="stylesheet" />
    <link href="/Css/remodal-default-theme.css" rel="stylesheet" />
    <link href="/Css/StyleSheet.css" type="text/css" rel="stylesheet" />
    <link href="/Css/Product.css" rel="stylesheet" />
}
<main>
    <div class="page c-product_page">
        <div class="container">
            <nav>
                <ul class="c-breadcrumb">
                    <li><a href="#">فروشگاه اینترنتی دیجی‌کالا</a></li>
                    <li><a href="#">کالای دیجیتال</a></li>
                    <li><span>گوشی موبایل آیفون 12 پرومکس دوسیمکارت</span></li>
                </ul>
            </nav>
            <article class="c-produt">
                <section class="c-product_gallery">
                    <div class="c-product_headline in-mobile">
                        <h1 class="c-product_title">
                            @Model.FaTitle
                            <span>@Model.EnTitle</span>
                        </h1>
                        <div class="c-product_rating">
                            <div class="c-stars">
                                <span class="c-stars_item"></span>
                                <span class="c-stars_item"></span>
                                <span class="c-stars_item"></span>
                                <span class="c-stars_item"></span>
                                <span class="c-stars_item"></span>
                                <div class="c-stars_selected" style="width:70.3%;">
                                    <span class="c-stars_item"></span>
                                    <span class="c-stars_item"></span>
                                    <span class="c-stars_item"></span>
                                    <span class="c-stars_item"></span>
                                    <span class="c-stars_item"></span>
                                </div>
                            </div>
                            از ۲۱ رای
                        </div>
                    </div>
                    <div class="c-gallery">
                        <div class="c-gallery_item">
                            <ul class="c-gallery_options">
                                <li>
                                    <button class="btn-option btn-option_wishlist"></button>
                                    <span class="c-toltip_short c-toltip_short-left">افزودن به علاقه‌مندی‌ها</span>
                                </li>
                                <li>
                                    <button class="btn-option btn-option_social js-open_share"></button>
                                    <span class="c-toltip_short c-toltip_short-left">اشتراک گذاری</span>
                                </li>
                                <li>
                                    <a href="#" class="btn-option btn-option_compare"></a>
                                    <span class="c-toltip_short c-toltip_short-left">مقایسه</span>
                                </li>
                                <li>
                                    <button class="btn-option btn-option_states js-open_chart"></button>
                                    <span class="c-toltip_short c-toltip_short-left">نمودار قیمت</span>
                                </li>
                            </ul>
                            <div class="c-gallery_img">
                                <img src="/Images/Product/@Model.ImgName" id="productimg" alt="@Model.FaTitle" />
                            </div>
                        </div>
                        <ul class="c-gallery_items">
                            <li>
                                <img src="/Images/Product/2.jpg" data-slide-index="1" class="js-open_gallery" alt="موبایل" />
                            </li>
                            <li>
                                <img src="/Images/Product/3.jpg" data-slide-index="2" class="js-open_gallery" alt="موبایل" />
                            </li>
                            <li>
                                <img src="/Images/Product/4.jpg" data-slide-index="3" class="js-open_gallery" alt="موبایل" />
                            </li>
                            <li>
                                <img src="/Images/Product/5.jpg" data-slide-index="4" class="js-open_gallery" alt="موبایل" />
                            </li>
                            <li class="has-more_items js-open_gallery" data-slide-index="1">
                                <button class="btn-items_more"></button>
                            </li>
                        </ul>
                    </div>
                </section>
                <section class="c-product_info">
                    <div class="c-product_headline in-desktop">
                        <h1 class="c-product_title">
                            @Model.FaTitle
                            <span> @Model.EnTitle</span>
                        </h1>
                        <div class="c-product_rating">
                            <div class="c-stars">
                                <span class="c-stars_item"></span>
                                <span class="c-stars_item"></span>
                                <span class="c-stars_item"></span>
                                <span class="c-stars_item"></span>
                                <span class="c-stars_item"></span>
                                <div class="c-stars_selected" style="width:70.3%;">
                                    <span class="c-stars_item"></span>
                                    <span class="c-stars_item"></span>
                                    <span class="c-stars_item"></span>
                                    <span class="c-stars_item"></span>
                                    <span class="c-stars_item"></span>
                                </div>
                            </div>
                            از ۲۱ رای
                        </div>
                    </div>
                    <div class="c-product_attribute">
                        <div class="c-produt_config">
                            <div class="c-product_directory">
                                <ul>
                                    <li>
                                        <span>برند</span>:
                                        <a href="#" class="c-link_underline">@Model.BrandName</a>
                                    </li>
                                    <li>
                                        <span>دسته‌بندی</span>:
                                        <a href="#" class="c-link_underline">@Model.CategoryName</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="c-product_color">
                                <span>انتخاب رنگ:</span>
                                <ul>
                                    <li>
                                        <label class="c-color">
                                            <span class="c-color_shape" style="background-color:#9e9e9e;"></span>
                                            <input type="radio" name="color" />
                                            <span class="c-color_check">خاکستری</span>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="c-color">
                                            <span class="c-color_shape" style="background-color:#ffea00;"></span>
                                            <input type="radio" name="color" />
                                            <span class="c-color_check">طلایی</span>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="c-color">
                                            <span class="c-color_shape" style="background-color:#cfcfcf;"></span>
                                            <input type="radio" name="color" />
                                            <span class="c-color_check">نقره‌ ای</span>
                                        </label>
                                    </li>
                                </ul>
                            </div>
                            <div class="c-product_gaurantee">
                                <span class="c-product_gaurantee-text">گارانتی ۱۸ ماهه هما تلکام</span>
                            </div>
                            <div class="c-product_delivery">
                                <div class="c-product_delivery-seller">
                                    فروشنده
                                    <a class="c-link_underline">خانه دیجیتال</a>
                                    <span>رضایت خرید : ۹۴ %</span>
                                </div>
                                <div class="c-product_delivery-warehouse">
                                    آماده‌ی ارسال
                                    <span class="c-toltip">
                                        <span class="c-toltip_icon"></span>
                                        <div class="c-toltip_container is-right">
                                            <div class="c-toltip_arrow"></div>
                                            <p class="c-toltip_text">
                                                این کالا در حال حاضر در انبار دیجی‌کالا موجود، آماده‌ی پردازش و ارسال است.
                                            </p>
                                        </div>
                                    </span>
                                </div>
                            </div>
                            <div class="c-product_price">
                                <div class="c-product_price-value">
                                    <del>۳۰۰,۰۰۰</del>
                                    <span>۱۵,۷۱۹,۰۰۰</span>
                                    <span class="c-product_price-currencuy">تومان</span>
                                </div>
                                <div class="c-product_price-discount" data-title="تخفیف">
                                    <span>۱۵%</span>
                                </div>
                            </div>
                            <div class="c-product_add btn-submit_content">
                                <a class="btn-add_cart">
                                    <span class="btn-add_cart-text">افـزودن به سبــد خریـد</span>
                                </a>
                                <div class="c-product_price-question">
                                    <span>آیا از قیمت راضی هستید؟</span>
                                    <a class="c-link_underline">بله</a><a class="c-link_underline js-open_price">خیر</a>
                                </div>
                            </div>
                        </div>
                        <div class="c-product_params">
                            <ul data-title="ویژگی‌های محصول">
                                <li>
                                    <span class="">حافظه داخلی: </span>
                                    <span>64 گیگابایت</span>
                                </li>
                                <li>
                                    <span>شبکه‌های ارتباطی: </span>
                                    <span>2G 3G 4G</span>
                                </li>
                                <li>
                                    <span>حس‌گرها:</span>
                                    <span>قطب‌نما (compas) شتاب سنج (Accelerometer) مجاورت (Proximity) فشار‌سنج (Barometer) ژیروسکوپ (Gyro) تشخیص چهره بیومتریک (Face ID)</span>
                                </li>
                                <li class="c-product_params-more js-product_params-more">
                                    <span>مقدار Ram: </span>
                                    <span>4 گیگابایت</span>
                                </li>
                                <li class="c-product_params-more js-product_params-more">
                                    <span>رزولوشن عکس: </span>
                                    <span>12.0 مگاپیکسل</span>
                                </li>
                                <li class="c-product_params-more js-product_params-more">
                                    <span>باتری قابل تعویض: </span>
                                    <span>خیر</span>
                                </li>
                                <li class="c-product_params-more js-product_params-more">
                                    <span>ویژگی‌های خاص: </span>
                                    <span>مقاوم در برابر آب دارای بدنه مقام عکاسی فبلت مناسب بازی مجهز به سنسور تشخیص چهره</span>
                                </li>
                                <li class="c-product_params-more js-product_params-more">
                                    <span>بازه سایز صفحه نمایش: </span>
                                    <span>6.5 اینچ و بزرگتر</span>
                                </li>
                                <li class="c-product_params-more js-product_params-more">
                                    <span>تعداد سیمکارت: </span>
                                    <span>دو</span>
                                </li>
                                <li class="c-product_params-more-btn" data-sign="+">
                                    <button class="c-link_underline  js-product_params-more-btn">موارد بیشتر</button>
                                </li>
                            </ul>
                            <a href="#" class="c-link_underline c-link_underline-tag">کالای خود را در دیجی‌کالا بفروشید.</a>
                        </div>
                    </div>
                    <aside class="c-product_feature">
                        <div class="c-product_feature-content">
                            <div class="c-product_feature-row">
                                <div class="c-product_feature-col">
                                    <a class="c-product_feature-item c-product_feature-item-1">
                                        <span>امکان</span>
                                        تحویل اکسپرس
                                    </a>
                                </div>
                                <div class="c-product_feature-col">
                                    <a class="c-product_feature-item c-product_feature-item-2">
                                        <span>پشتیبانی</span>
                                        ۷ روزه ۲۴ ساعته
                                    </a>
                                </div>
                                <div class="c-product_feature-col">
                                    <a class="c-product_feature-item c-product_feature-item-3">
                                        <span>امکان</span>
                                        پرداخت در محل
                                    </a>
                                </div>
                                <div class="c-product_feature-col">
                                    <a class="c-product_feature-item c-product_feature-item-4">
                                        <span>۷ روز</span>
                                        ضمانت بازگشت
                                    </a>
                                </div>
                                <div class="c-product_feature-col">
                                    <a class="c-product_feature-item c-product_feature-item-5">
                                        <span>ضمانت</span>
                                        اصل بودن کالا
                                    </a>
                                </div>
                            </div>
                        </div>
                    </aside>
                </section>
            </article>
            <div class="c-prduct_feature-body">
                <aside class="c-product_feature">
                    <div class="c-product_feature-content">
                        <div class="c-product_feature-row">
                            <div class="c-product_feature-col">
                                <a class="c-product_feature-item c-product_feature-item-1">
                                    <span>امکان</span>
                                    تحویل اکسپرس
                                </a>
                            </div>
                            <div class="c-product_feature-col">
                                <a class="c-product_feature-item c-product_feature-item-2">
                                    <span>پشتیبانی</span>
                                    ۷ روزه ۲۴ ساعته
                                </a>
                            </div>
                            <div class="c-product_feature-col">
                                <a class="c-product_feature-item c-product_feature-item-3">
                                    <span>امکان</span>
                                    پرداخت در محل
                                </a>
                            </div>
                            <div class="c-product_feature-col">
                                <a class="c-product_feature-item c-product_feature-item-4">
                                    <span>۷ روز</span>
                                    ضمانت بازگشت
                                </a>
                            </div>
                            <div class="c-product_feature-col">
                                <a class="c-product_feature-item c-product_feature-item-5">
                                    <span>ضمانت</span>
                                    اصل بودن کالا
                                </a>
                            </div>
                        </div>
                    </div>
                </aside>
            </div>
            <div class="c-box_supliers">
                <div class="c-box_suplier-headlin"><span>لیست فروشنده / گارانتی‌های این محصول</span></div>
                <div class="c-box">
                    <div class="c-table_supliers-head">
                        <div class="c-table_supliers-row">
                            <div class="c-table_supliers-cell c-table_supliers-cell_title">نام فروشنده</div>
                            <div class="c-table_supliers-cell c-table_supliers-cell_conditions">زمان ارسال</div>
                            <div class="c-table_supliers-cell c-table_supliers-cell_gaurantee">گارانتی</div>
                            <div class="c-table_supliers-cell c-table_supliers-cell_price">قیمت</div>
                            <div class="c-table_supliers-cell c-table_supliers-cell_action"></div>
                        </div>
                    </div>
                    <div class="c-table_supliers-main">
                        <div class="c-table_supliers-row">
                            <div class="c-table_supliers-cell c-table_supliers-cell_title">
                                <p>
                                    <span>
                                        <a href="#" class="c-link_underline">سالیان</a>
                                        <span class="c-table_supliers-line">
                                            رضایت خرید:
                                            <span>۸۸% از (۳۵۵) رای</span>
                                        </span>
                                    </span>
                                </p>
                            </div>
                            <div class="c-table_supliers-cell c-table_supliers-cell_conditions c-table_supliers-cell_no-lead_time">
                                <p>
                                    آماده ارسال
                                    <span class="c-table_supliers-line">بسته‌بندی و ارسال توسط دیجی‌کالا</span>
                                </p>
                                <span class="c-toltip">
                                    <span class="c-toltip_icon"></span>
                                    <div class="c-toltip_container is-right">
                                        <div class="c-toltip_arrow"></div>
                                        <p class="c-toltip_text">
                                            این کالا در حال حاضر در انبار دیجی‌کالا موجود، آماده‌ی پردازش و ارسال است.
                                        </p>
                                    </div>
                                </span>
                            </div>
                            <div class="c-table_supliers-cell c-table_supliers-cell_gaurantee">
                                <span>گارانتی</span>
                                <span>اصالت</span>
                                <span>و</span>
                                <span>سلامت</span>
                                <span>فیزیکی</span>
                                <span>کالا</span>
                            </div>
                            <div class="c-table_supliers-cell c-table_supliers-cell_price">
                                <div class="c-table_supliers-price">
                                    ۵۵۵,۰۰۰
                                    <span class="c-table_supliers-currency">تومان</span>
                                </div>
                            </div>
                            <div class="c-table_supliers-cell c-table_supliers-cell_action">
                                <a href="#" class="btn-primary">افزودن به سبد خرید</a>
                            </div>
                        </div>
                        <div class="c-table_supliers-row">
                            <div class="c-table_supliers-cell c-table_supliers-cell_title">
                                <p>
                                    <span>
                                        <a href="#" class="c-link_underline">جریس</a>
                                        <span class="c-table_supliers-line">
                                            رضایت خرید:
                                            <span>۸۸% از (۳۵۵) رای</span>
                                        </span>
                                    </span>
                                </p>
                            </div>
                            <div class="c-table_supliers-cell c-table_supliers-cell_conditions">
                                <p>
                                    ارسال از ۵ روز آینده
                                    <span class="c-table_supliers-line">بسته‌بندی و ارسال توسط دیجی‌کالا</span>
                                </p>
                                <span class="c-toltip">
                                    <span class="c-toltip_icon"></span>
                                    <div class="c-toltip_container is-right">
                                        <div class="c-toltip_arrow"></div>
                                        <p class="c-toltip_text">
                                            این کالا در حال حاضر در انبار دیجی‌کالا موجود، برای ارسال برای مدت ذکر شده باید منظر بمانید.
                                        </p>
                                    </div>
                                </span>
                            </div>
                            <div class="c-table_supliers-cell c-table_supliers-cell_gaurantee">
                                <span>گارانتی</span>
                                <span>اصالت</span>
                                <span>و</span>
                                <span>سلامت</span>
                                <span>فیزیکی</span>
                                <span>کالا</span>
                            </div>
                            <div class="c-table_supliers-cell c-table_supliers-cell_price">
                                <div class="c-table_supliers-price">
                                    ۶۵۶,۰۰۰
                                    <span class="c-table_supliers-currency">تومان</span>
                                </div>
                            </div>
                            <div class="c-table_supliers-cell c-table_supliers-cell_action">
                                <a href="#" class="btn-primary">افزودن به سبد خرید</a>
                            </div>
                        </div>
                        <div class="c-table_supliers-row c-supliers_more-item js-supliers_more-item">
                            <div class="c-table_supliers-cell c-table_supliers-cell_title">
                                <p>
                                    <span>
                                        <a href="#" class="c-link_underline">قاپو</a>
                                        <span class="c-table_supliers-line">
                                            رضایت خرید:
                                            <span>۸۸% از (۳۵۵) رای</span>
                                        </span>
                                    </span>
                                </p>
                            </div>
                            <div class="c-table_supliers-cell c-table_supliers-cell_conditions">
                                <p>
                                    ارسال از ۲ روز آینده
                                    <span class="c-table_supliers-line">بسته‌بندی و ارسال توسط دیجی‌کالا</span>
                                </p>
                                <span class="c-toltip">
                                    <span class="c-toltip_icon"></span>
                                    <div class="c-toltip_container is-right">
                                        <div class="c-toltip_arrow"></div>
                                        <p class="c-toltip_text">
                                            این کالا در حال حاضر در انبار دیجی‌کالا موجود، برای ارسال برای مدت ذکر شده باید منظر بمانید.
                                        </p>
                                    </div>
                                </span>
                            </div>
                            <div class="c-table_supliers-cell c-table_supliers-cell_gaurantee">
                                <span>گارانتی</span>
                                <span>اصالت</span>
                                <span>و</span>
                                <span>سلامت</span>
                                <span>فیزیکی</span>
                                <span>کالا</span>
                            </div>
                            <div class="c-table_supliers-cell c-table_supliers-cell_price">
                                <div class="c-table_supliers-price">
                                    ۶۳۵,۰۰۰
                                    <span class="c-table_supliers-currency">تومان</span>
                                </div>
                            </div>
                            <div class="c-table_supliers-cell c-table_supliers-cell_action">
                                <a href="#" class="btn-primary">افزودن به سبد خرید</a>
                            </div>
                        </div>
                        <div class="c-table_supliers-row c-supliers_more-item js-supliers_more-item">
                            <div class="c-table_supliers-cell c-table_supliers-cell_title">
                                <p>
                                    <span>
                                        <a href="#" class="c-link_underline">قاپو</a>
                                        <span class="c-table_supliers-line">
                                            رضایت خرید:
                                            <span>۸۸% از (۳۵۵) رای</span>
                                        </span>
                                    </span>
                                </p>
                            </div>
                            <div class="c-table_supliers-cell c-table_supliers-cell_conditions">
                                <p>
                                    ارسال از ۲ روز آینده
                                    <span class="c-table_supliers-line">بسته‌بندی و ارسال توسط دیجی‌کالا</span>
                                </p>
                                <span class="c-toltip">
                                    <span class="c-toltip_icon"></span>
                                    <div class="c-toltip_container is-right">
                                        <div class="c-toltip_arrow"></div>
                                        <p class="c-toltip_text">
                                            این کالا در حال حاضر در انبار دیجی‌کالا موجود، برای ارسال برای مدت ذکر شده باید منظر بمانید.
                                        </p>
                                    </div>
                                </span>
                            </div>
                            <div class="c-table_supliers-cell c-table_supliers-cell_gaurantee">
                                <span>گارانتی</span>
                                <span>اصالت</span>
                                <span>و</span>
                                <span>سلامت</span>
                                <span>فیزیکی</span>
                                <span>کالا</span>
                            </div>
                            <div class="c-table_supliers-cell c-table_supliers-cell_price">
                                <div class="c-table_supliers-price">
                                    ۶۳۵,۰۰۰
                                    <span class="c-table_supliers-currency">تومان</span>
                                </div>
                            </div>
                            <div class="c-table_supliers-cell c-table_supliers-cell_action">
                                <a href="#" class="btn-primary">افزودن به سبد خرید</a>
                            </div>
                        </div>
                        <div class="c-table_supliers-row c-supliers_more-item js-supliers_more-item">
                            <div class="c-table_supliers-cell c-table_supliers-cell_title">
                                <p>
                                    <span>
                                        <a href="#" class="c-link_underline">قاپو</a>
                                        <span class="c-table_supliers-line">
                                            رضایت خرید:
                                            <span>۸۸% از (۳۵۵) رای</span>
                                        </span>
                                    </span>
                                </p>
                            </div>
                            <div class="c-table_supliers-cell c-table_supliers-cell_conditions">
                                <p>
                                    ارسال از ۲ روز آینده
                                    <span class="c-table_supliers-line">بسته‌بندی و ارسال توسط دیجی‌کالا</span>
                                </p>
                                <span class="c-toltip">
                                    <span class="c-toltip_icon"></span>
                                    <div class="c-toltip_container is-right">
                                        <div class="c-toltip_arrow"></div>
                                        <p class="c-toltip_text">
                                            این کالا در حال حاضر در انبار دیجی‌کالا موجود، برای ارسال برای مدت ذکر شده باید منظر بمانید.
                                        </p>
                                    </div>
                                </span>
                            </div>
                            <div class="c-table_supliers-cell c-table_supliers-cell_gaurantee">
                                <span>گارانتی</span>
                                <span>اصالت</span>
                                <span>و</span>
                                <span>سلامت</span>
                                <span>فیزیکی</span>
                                <span>کالا</span>
                            </div>
                            <div class="c-table_supliers-cell c-table_supliers-cell_price">
                                <div class="c-table_supliers-price">
                                    ۶۳۵,۰۰۰
                                    <span class="c-table_supliers-currency">تومان</span>
                                </div>
                            </div>
                            <div class="c-table_supliers-cell c-table_supliers-cell_action">
                                <a href="#" class="btn-primary">افزودن به سبد خرید</a>
                            </div>
                        </div>
                        <div class="c-table_supliers-row c-supliers_more-item js-supliers_more-item">
                            <div class="c-table_supliers-cell c-table_supliers-cell_title">
                                <p>
                                    <span>
                                        <a href="#" class="c-link_underline">قاپو</a>
                                        <span class="c-table_supliers-line">
                                            رضایت خرید:
                                            <span>۸۸% از (۳۵۵) رای</span>
                                        </span>
                                    </span>
                                </p>
                            </div>
                            <div class="c-table_supliers-cell c-table_supliers-cell_conditions">
                                <p>
                                    ارسال از ۲ روز آینده
                                    <span class="c-table_supliers-line">بسته‌بندی و ارسال توسط دیجی‌کالا</span>
                                </p>
                                <span class="c-toltip">
                                    <span class="c-toltip_icon"></span>
                                    <div class="c-toltip_container is-right">
                                        <div class="c-toltip_arrow"></div>
                                        <p class="c-toltip_text">
                                            این کالا در حال حاضر در انبار دیجی‌کالا موجود، برای ارسال برای مدت ذکر شده باید منظر بمانید.
                                        </p>
                                    </div>
                                </span>
                            </div>
                            <div class="c-table_supliers-cell c-table_supliers-cell_gaurantee">
                                <span>گارانتی</span>
                                <span>اصالت</span>
                                <span>و</span>
                                <span>سلامت</span>
                                <span>فیزیکی</span>
                                <span>کالا</span>
                            </div>
                            <div class="c-table_supliers-cell c-table_supliers-cell_price">
                                <div class="c-table_supliers-price">
                                    ۶۳۵,۰۰۰
                                    <span class="c-table_supliers-currency">تومان</span>
                                </div>
                            </div>
                            <div class="c-table_supliers-cell c-table_supliers-cell_action">
                                <a href="#" class="btn-primary">افزودن به سبد خرید</a>
                            </div>
                        </div>
                        <div class="c-table_supliers-row c-supliers_more-item js-supliers_more-item">
                            <div class="c-table_supliers-cell c-table_supliers-cell_title">
                                <p>
                                    <span>
                                        <a href="#" class="c-link_underline">قاپو</a>
                                        <span class="c-table_supliers-line">
                                            رضایت خرید:
                                            <span>۸۸% از (۳۵۵) رای</span>
                                        </span>
                                    </span>
                                </p>
                            </div>
                            <div class="c-table_supliers-cell c-table_supliers-cell_conditions">
                                <p>
                                    ارسال از ۲ روز آینده
                                    <span class="c-table_supliers-line">بسته‌بندی و ارسال توسط دیجی‌کالا</span>
                                </p>
                                <span class="c-toltip">
                                    <span class="c-toltip_icon"></span>
                                    <div class="c-toltip_container is-right">
                                        <div class="c-toltip_arrow"></div>
                                        <p class="c-toltip_text">
                                            این کالا در حال حاضر در انبار دیجی‌کالا موجود، برای ارسال برای مدت ذکر شده باید منظر بمانید.
                                        </p>
                                    </div>
                                </span>
                            </div>
                            <div class="c-table_supliers-cell c-table_supliers-cell_gaurantee">
                                <span>گارانتی</span>
                                <span>اصالت</span>
                                <span>و</span>
                                <span>سلامت</span>
                                <span>فیزیکی</span>
                                <span>کالا</span>
                            </div>
                            <div class="c-table_supliers-cell c-table_supliers-cell_price">
                                <div class="c-table_supliers-price">
                                    ۶۳۵,۰۰۰
                                    <span class="c-table_supliers-currency">تومان</span>
                                </div>
                            </div>
                            <div class="c-table_supliers-cell c-table_supliers-cell_action">
                                <a href="#" class="btn-primary">افزودن به سبد خرید</a>
                            </div>
                        </div>
                        <div class="c-table_supliers-row c-supliers_more-item js-supliers_more-item">
                            <div class="c-table_supliers-cell c-table_supliers-cell_title">
                                <p>
                                    <span>
                                        <a href="#" class="c-link_underline">قاپو</a>
                                        <span class="c-table_supliers-line">
                                            رضایت خرید:
                                            <span>۸۸% از (۳۵۵) رای</span>
                                        </span>
                                    </span>
                                </p>
                            </div>
                            <div class="c-table_supliers-cell c-table_supliers-cell_conditions">
                                <p>
                                    ارسال از ۲ روز آینده
                                    <span class="c-table_supliers-line">بسته‌بندی و ارسال توسط دیجی‌کالا</span>
                                </p>
                                <span class="c-toltip">
                                    <span class="c-toltip_icon"></span>
                                    <div class="c-toltip_container is-right">
                                        <div class="c-toltip_arrow"></div>
                                        <p class="c-toltip_text">
                                            این کالا در حال حاضر در انبار دیجی‌کالا موجود، برای ارسال برای مدت ذکر شده باید منظر بمانید.
                                        </p>
                                    </div>
                                </span>
                            </div>
                            <div class="c-table_supliers-cell c-table_supliers-cell_gaurantee">
                                <span>گارانتی</span>
                                <span>اصالت</span>
                                <span>و</span>
                                <span>سلامت</span>
                                <span>فیزیکی</span>
                                <span>کالا</span>
                            </div>
                            <div class="c-table_supliers-cell c-table_supliers-cell_price">
                                <div class="c-table_supliers-price">
                                    ۶۳۵,۰۰۰
                                    <span class="c-table_supliers-currency">تومان</span>
                                </div>
                            </div>
                            <div class="c-table_supliers-cell c-table_supliers-cell_action">
                                <a href="#" class="btn-primary">افزودن به سبد خرید</a>
                            </div>
                        </div>
                        <div class="c-table_supliers-row c-supliers_more-item js-supliers_more-item">
                            <div class="c-table_supliers-cell c-table_supliers-cell_title">
                                <p>
                                    <span>
                                        <a href="#" class="c-link_underline">قاپو</a>
                                        <span class="c-table_supliers-line">
                                            رضایت خرید:
                                            <span>۸۸% از (۳۵۵) رای</span>
                                        </span>
                                    </span>
                                </p>
                            </div>
                            <div class="c-table_supliers-cell c-table_supliers-cell_conditions">
                                <p>
                                    ارسال از ۲ روز آینده
                                    <span class="c-table_supliers-line">بسته‌بندی و ارسال توسط دیجی‌کالا</span>
                                </p>
                                <span class="c-toltip">
                                    <span class="c-toltip_icon"></span>
                                    <div class="c-toltip_container is-right">
                                        <div class="c-toltip_arrow"></div>
                                        <p class="c-toltip_text">
                                            این کالا در حال حاضر در انبار دیجی‌کالا موجود، برای ارسال برای مدت ذکر شده باید منظر بمانید.
                                        </p>
                                    </div>
                                </span>
                            </div>
                            <div class="c-table_supliers-cell c-table_supliers-cell_gaurantee">
                                <span>گارانتی</span>
                                <span>اصالت</span>
                                <span>و</span>
                                <span>سلامت</span>
                                <span>فیزیکی</span>
                                <span>کالا</span>
                            </div>
                            <div class="c-table_supliers-cell c-table_supliers-cell_price">
                                <div class="c-table_supliers-price">
                                    ۶۳۵,۰۰۰
                                    <span class="c-table_supliers-currency">تومان</span>
                                </div>
                            </div>
                            <div class="c-table_supliers-cell c-table_supliers-cell_action">
                                <a href="#" class="btn-primary">افزودن به سبد خرید</a>
                            </div>
                        </div>
                    </div>
                    <div class="c-table_supliers-less js-table_supliers-less" style="display:none;">
                        <button class="c-link_underline c-link_underline-arrow_up js-less_supliers-btn">مشاهده کمتر</button>
                    </div>
                    <div class="c-table_supliers-more js-table_supliers-more">
                        <button class="c-link_underline c-link_underline-arrow_down js-more_supliers-btn">مشاهده (19) فروشـــنده / گارانتی بیشتــــر</button>
                    </div>
                </div>
            </div>
            <div class="c-tabs js-box_tabs" id="tabs">
                <ul class="c-box_tabs js-box_tabs in-desktop">
                    <li class="c-box_tabs-tab js-box_tabs-tab is-active" data-tab-name="review">
                        <a data-tab-name="desc">نقد و بررسی</a>
                    </li>
                    <li class="c-box_tabs-tab js-box_tabs-tab" data-tab-name="prop">
                        <a data-tab-name="prop">مشخصات</a>
                    </li>
                    <li class="c-box_tabs-tab comment-tab js-box_tabs-tab" data-tab-name="comments">
                        <a data-tab-name="comments">نظرات کاربران</a>
                    </li>
                    <li class="c-box_tabs-tab c-faq js-box_tabs-tab" data-tab-name="faq">
                        <a data-tab-name="questions">پرسش و پاسخ</a>
                    </li>
                </ul>
                <div class="c-tabs_content js-tabs_content">
                    <li class="c-box_tabs-tab js-box_tabs-tab in-mobile is-active" data-tab-name="review">
                        <a data-tab-name="desc">نقد و بررسی</a>
                    </li>
                    <div class="is-active" data-tab-content="review">

                        @await Component.InvokeAsync("ReviewProductComponent", Model.ProductId)

                    </div>
                    <li class="c-box_tabs-tab js-box_tabs-tab in-mobile" data-tab-name="prop">
                        <a data-tab-name="prop">مشخصات</a>
                    </li>
                    <div data-tab-content="prop">
                        @await Component.InvokeAsync("ProductProperyComponent", Model.ProductId)
                    </div>
                    <li class="c-box_tabs-tab comment-tab js-box_tabs-tab in-mobile" data-tab-name="comments">
                        <a data-tab-name="comments">نظرات کاربران</a>
                    </li>
                    <div id="comment" data-tab-content="comments">

                    </div>
                    <li class="c-box_tabs-tab c-faq js-box_tabs-tab in-mobile" data-tab-name="faq">
                        <a data-tab-name="questions">پرسش و پاسخ</a>
                    </li>
                    <div data-tab-content="faq">
                        <h2 class="c-faq_tab-headline">
                            پرسش و پاسخ
                            <span>پرسش خود را در مورد محصول مطرح نمایید.</span>
                        </h2>
                        <form class="c-form_faq">
                            <div class="c-form_faq-row">
                                <div class="c-form_faq-col">
                                    <div>
                                        <textarea class="c-textarea" title="متن سوال"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="c-form_faq-row">
                                <div class="c-form_faq-col c-form_faq-col_submit">
                                    <button class="btn-primary">ثبت پرسش</button>
                                </div>
                                <div class="c-form_faq-col c-form_faq-col_agreement in-desktop">
                                    <label for="agreement_check">
                                        اولین پاسخی که به پرسش من داده شد، از طریق ایمیل به من اطلاع دهید.
                                        <br />
                                        با انتخاب دکمه "ثبت پرسش"، موافقیت خود را با
                                        <a class="c-link_underline">قوانین انتشار محتوا</a>
                                        در دیجی‌کالا اعلام می‌کنم.
                                    </label>
                                    <label class="c-checkbox">
                                        <input type="checkbox" id="agreement_check" />
                                        <span class="c-checkbox_check"></span>
                                    </label>
                                </div>

                                <div class="c-form_faq-col c-form_faq-col_agreement in-mobile">
                                    <label for="agreement_check">
                                        اولین پاسخی که به پرسش من داده شد، از طریق ایمیل به من اطلاع بده.

                                    </label>
                                    <label class="c-checkbox">
                                        <input type="checkbox" id="agreement_check" />
                                        <span class="c-checkbox_check"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="c-form_faq-row in-mobile">
                                <div class="c-form_faq-col">
                                    <div class="c-form_faq-agreement_policy">
                                        با انتخاب دکمه "ثبت پرسش"، موافقیت خود را با
                                        <a>قوانین انتشار محتوا</a>
                                        در دیجی‌کالا اعلام می‌کنم.
                                    </div>
                                </div>
                            </div>
                        </form>
                      <div id="faqlist">

                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>


<div class="remodal c-remodal_price" data-remodal-id="price" data-remodal-options="closeOnOutsideClick: false">
    <button data-remodal-action="close" class="remodal-close"></button>
    <div class="c-remodal_price-main">
        <div class="c-remodal_price-aside">
            <div class="c-remodal_price-title_img">دلیل نارضایتی شما چیست؟</div>
            <div class="c-remodal_price-img">
                <img src="/Images/Product/remodal/1.jpg" />
            </div>
        </div>
        <div class="c-remodal_price-content">
            <form class="c-form_price">
                <div class="c-form_price-title">قیمت بهتری از دیجی‌کالا دیده‌اید؟(به تومان)</div>
                <div class="c-form_price-row">
                    <div class="c-form_price-col">
                        <input class="c-input" type="number" placeholder="مانند : 1000" min="1" />
                    </div>
                </div>
                <div class="c-form_price-title">این محصول را با این قیمت در کدام فروشگاه می‌فروشند؟</div>
                <div class="c-form_price-row">
                    <div class="c-form_price-col">
                        <input class="c-input" />
                    </div>
                </div>
                <div class="c-form_price-title">آیا این فروشگاه آنلاین است؟</div>
                <div class="c-form_price-row">
                    <div class="c-form_price-col">
                        <ul class="c-form_price-options">
                            <li>
                                <label class="c-radio">
                                    <input type="radio" name="price" />
                                    <span class="c-radio_check"></span>
                                </label><label>بله</label>
                            </li>
                            <li>
                                <label class="c-radio">
                                    <input type="radio" name="price" />
                                    <span class="c-radio_check"></span>
                                </label><label>خیر</label>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="c-form_price-row c-form_price-row_submit">
                    <div class="c-form_price-col">
                        <button class="btn-primary">ثبت اطلاعات</button><button class="btn-primary btn-gray" data-remodal-action="close">بازگشت</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="remodal c-remodal_share" data-remodal-id="share" data-remodal-options="closeOnOutsideClick: false">
    <button data-remodal-action="close" class="remodal-close"></button>
    <div class="c-remodal_share-main">
        <div class="c-remodal_share-aside">
            <div class="c-remodal_share-title">اشتراک گذاری</div>
            <div class="c-remodal_share-icon"></div>
        </div>
        <div class="c-remodal_share-content">
            <form class="c-form_share">
                <div class="c-form_share-title">اشتراک گذاری در شبکه‌های اجتماعی</div>
                <div class="c-form_share-row c-form_share-row_btn-share">
                    <div class="c-form_share_col">
                        <ul class="c-btn_share-group">
                            <li>
                                <a href="#" class="btn-share btn-share_twitter"></a>
                            </li>
                            <li>
                                <a href="#" class="btn-share btn-share_facebook"></a>
                            </li>
                            <li>
                                <a href="#" class="btn-share btn-share_googleplay"></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="c-form_share-title">ارسال به ایمیل</div>
                <div class="c-form_share-row">
                    <div class="c-form_share_col">
                        <label class="c-input_sent-to_email">
                            <input class="c-input" type="email" placeholder="آدرس ایمیل را وارد نمایید." />
                        </label>
                    </div>
                </div>
                <div class="c-form_share-row c-form_share-row_submit">
                    <div class="c-form_share_col">
                        <button class="btn-primary">ارسال</button>
                    </div>
                </div>
            </form>
            <div class="c-remodal_share-url">
                <div class="c-remodal_share-url_title">آدرس صفحه</div>
                <div class="c-remodal_share-url_row">
                    <div class="c-remodal_share-url_col">
                        <label class="c-url">
                            <input type="url" class="c-url_input" value="https://www.digikala.com/product/dkp-400427" readonly />
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="remodal c-remodal_price-chart" data-remodal-id="chart" data-remodal-options="closeOnOutsideClick: false">
    <button data-remodal-action="close" class="remodal-close"></button>
    <div class="c-remodal_price-chart_main">
        <div class="c-remodal_price-chart_aside">
            <div class="c-remodal_price-chart_aside-title">نمودار قیمت محصول</div>
            <div class="c-remodal_price-chart_aside-subtitle">تخفیف و قیمت جشنواره‌ها در قیمت فروش در نظر گرفته نمی‌شود.</div>
            <div class="c-remodal_price-chart_content">
                <div id="productpricechart"></div>
                <p class="c-remodal_price-chart_title-bottom">توجه: برای فیلتر کردن نمایش ها بر روی هر یک از عنوان‌ها کلیک کنید.</p>
            </div>
        </div>
    </div>
</div>

<div class="remodal c-remodal_gallery" data-remodal-id="gallery" data-remodal-options="closeOnOutsideClick: false">
    <button data-remodal-action="close" class="remodal-close"></button>
    <div class="c-remodal_gallery-main">
        <div class="c-remodal_gallery-content">
            <div class="swiper gallery-top">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="/Images/Product/gallery/11.jpg" />
                    </div>
                    <div class="swiper-slide">
                        <img src="/Images/Product/gallery/12.jpg" />
                    </div>
                    <div class="swiper-slide">
                        <img src="/Images/Product/gallery/13.jpg" />
                    </div>
                    <div class="swiper-slide">
                        <img src="/Images/Product/gallery/14.jpg" />
                    </div>
                    <div class="swiper-slide">
                        <img src="/Images/Product/gallery/10.jpg" />
                    </div>
                </div>
                <div class="c-slider_donts"></div>
            </div>
        </div>
        <div class="c-remodal_gallery-aside">
            <div class="c-swiper_btn-next js-swiper_btn-next"></div>
            <div class="c-swiper_btn-prev js-swiper_btn-prev"></div>
            <div class="swiper gallery-thumbs">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="/Images/Product/gallery/thubms/11.jpg" />
                    </div>
                    <div class="swiper-slide">
                        <img src="/Images/Product/gallery/thubms/12.jpg" />
                    </div>
                    <div class="swiper-slide">
                        <img src="/Images/Product/gallery/thubms/13.jpg" />
                    </div>
                    <div class="swiper-slide">
                        <img src="/Images/Product/gallery/thubms/14.jpg" />
                    </div>
                    <div class="swiper-slide">
                        <img src="/Images/Product/gallery/thubms/10.jpg" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="remodal c-remodal_load" data-remodal-id="load">
    <img src="~/Images/Product/gif/kOnzy.gif" />
    @*<img src="~/Images/Product/gif/f6656aa6fdb6b8f905dea0bcc2d71dd8.gif" />*@
</div>




@section script{
    <script src="/js/remodal.js"></script>
    <script src="/js/highcharts.js"></script>
    <script src="/js/jquery.elevateZoom-3.0.8.min.js"></script>
    <script src="~/js/jquery.unobtrusive-ajax.min.js"></script>
    <script>
        $(function () {

            var add_gallery = $('[data-remodal-id=gallery]').remodal();

            var galleryThumbs = new Swiper('.gallery-thumbs', {
                direction: 'vertical',
                slidesPerView: 'auto',
                watchSlidesProgress: true,
            });
            var galleryTop = new Swiper('.gallery-top', {
                effect: 'fade',

                pagination: {
                    el: '.c-slider_donts',
                    dynamicBullets: true,
                    type: 'bullets',
                    clickable: true,
                },

                navigation: {
                    nextEl: '.js-swiper_btn-next',
                    prevEl: '.js-swiper_btn-prev',
                },
                thumbs: {
                    swiper: galleryThumbs
                }
            });

            $('.js-open_gallery').click(function () {

                var index = parseInt($(this).attr('data-slide-index'))

                add_gallery.open();

                galleryThumbs.update();

                galleryTop.update();

                galleryTop.slideTo(index - 1);


            });

        });

        $(function () {

            $("#productimg").elevateZoom({

                zoomWindowPosition: 10,
                zoomWindowWidth: 523,
                zoomWindowHeight: 583,
                borderSize: 1,
                cursor: "crosshair",
                lensColour: "transparent",
                lensBorderColour: "#ef5661",
                lensborderSize: 2.5,
                easing: true,
                zoomWindowFadeIn: 300,
                zoomWindowFadeOut: 200
            });

        });
        document.addEventListener('DOMContentLoaded', function () {
            const chart = Highcharts.chart('productpricechart', {
                chart: {
                    type: 'line',
                    height: 575,
                    marginTop: 20,
                    marginRight: 20,
                    marginLeft: 100,
                    marginLight: 10
                },

                credits: {
                    enabled: false
                },

                title: {
                    text: ''
                },
                xAxis: {
                    labels: {

                        style: {
                            fontSize: "12px",
                            fontFamily: "IRANYekan",
                            color: "#979797",
                        },
                        formatter: function () {
                            return To_Fa_Digit(this.value);
                        }
                    }
                },
                yAxis: {
                    title: {
                        text: 'قیمت بدون تخفیف (هزار تومان)'
                        , style: {
                            fontSize: "14px",
                            fontFamily: "IRANYekan",
                            color: "#777777",
                        },

                        grideLineDashStyle: "Dot",

                    }, labels: {

                        style: {
                            fontSize: "16px",
                            fontFamily: "IRANYekan",
                            color: "#4c4c4c",
                        },
                        formatter: function () {
                            return (To_Fa_Digit(Currency(this.value)));
                        }
                    },
                },

                tooltip: {

                    rtl: true,

                    style: {
                        fontFamily: "IRANYekan",
                        padding: "20px",
                    },

                    backgroundColor: "#fcfeff",
                    borderWidth: 1,
                    borderRadius: 2,
                    borderColor: "#e6e7e8",
                    useHtml: true,
                    formatter: function () {
                        return '<div class="c-remodal_price-chart_tooltip">' +
                            '<p>' + To_Fa_Digit("1400/5/1") + '</p>' +
                            '<br/>' + '<br/>' +
                            '<p>فروش توسط دیجی‌کالا</p>' +
                            '<br/>' + '<br/>' +
                            '<p">گارانتی هماتلکام</p>' +

                            '<hr />' +

                            '<p>' + To_Fa_Digit(Currency("15000")) + ' تومان</p></div > '

                    },

                },


                legend: {
                    backgroundColor: "#f5f6f8",
                    align: "right",
                    verticalAlign: "bottom",
                    rtl: true,
                    margin: 30,
                    width: 760,
                    itemMarginBottom: 10,
                    itemStyle: {
                        fontSize: "12px",
                        fontFamily: "IRANYekan",
                        color: "#177",
                    }
                },

                plotOptions: {
                    line: {
                        marker: {
                            symbol: "circle",
                            fillColor: "#fff",
                            lineWidth: 2,
                            lineColor: null,
                            stats: {
                                hover: {
                                    enabled: false
                                }
                            }
                        }
                    }
                },

                series: [{
                    name: 'دیجی‌کالا | نقره‌ای | گارنتی هماتلکام',
                    data: [[25, 2300], [27, 2500], [29, 2550], [32, 2700], [36, 2800], [37, 3000]]
                }, {
                    name: 'دیجی‌کالا | نقره‌ای | گارنتی هماتلکام',
                    data: [[25, 2300], [28, 2500], [29, 2550], [35, 2670], [36, 2800], [39, 2950]]
                }]
            });
        });

        $(function () {



            $('.js-open_price').click(function () {

                var add_price = $('[data-remodal-id=price]').remodal();

                add_price.open();
            });

            $('.js-open_share').click(function () {

                var add_share = $('[data-remodal-id=share]').remodal();

                add_share.open();
            });


            $('.js-open_chart').click(function () {

                var add_chart = $('[data-remodal-id=chart]').remodal();

                add_chart.open();
            });


            $('.js-product_params-more-btn').click(function () {

                $('.js-product_params-more').toggleClass('is-active');

                if ($('.js-product_params-more').hasClass('is-active')) {

                    $(this).html('بستن').parent().attr('data-sign', "-");

                } else {

                    $(this).html('موارد بیشتر').parent().attr('data-sign', "+");
                }
            });

            $('.js-more_supliers-btn').click(function () {

                $('.js-supliers_more-item').addClass('is-active');
                $('.js-table_supliers-more').hide();
                $('.js-table_supliers-less').show();
            });

            $('.js-less_supliers-btn').click(function () {

                $('.js-supliers_more-item').removeClass('is-active');
                $('.js-table_supliers-more').show();
                $('.js-table_supliers-less').hide();

            });

            $('.js-mask').each(function () {

                var that = $(this);

                var text = that.find('.js-mask_text');
                var btn = that.find('.js-mask_btn');
                var maxheight = 0;

                try {
                    maxheight = parseInt(text.css('max-height').replace('px', ""));
                }
                catch {
                    maxheight = 0;
                }
                btn.on('click', function (e) {

                    e.preventDefault();

                    text.toggleClass('is-active');

                    if (text.hasClass('is-active')) {

                        text.css('max-height', 'unset');

                        $(this).text('بستن')

                    } else {

                        text.css('max-height', maxheight);
                        $(this).text('ادامه مطلب')
                    }

                });
            });

            $('.js-tabs_content-desc_article-button').on('click', function () {

                var that = $(this), article = that.closest('.js-tabs_content-desc_article');

                if (article.hasClass('is-active')) {

                    article.removeClass('is-active');
                } else {

                    article.addClass('is-active');

                }

            });

            $(window).scroll(function () {

                var top = $(window).scrollTop();
                var tabs = $('.js-box_tabs');
                var tabstop = tabs.offset().top;
                var content_height = tabs.height();
                if (top >= tabstop && top <= (tabstop + content_height)) {
                    tabs.addClass('is-fixed')
                } else {
                    tabs.removeClass('is-fixed');
                }

            });
        });


        $(function () {
            var remodalload = $('[data-remodal-id=load]').remodal();
          
            $('.js-box_tabs-tab').click(function () {

                scrolltotab();

                var tabname = $(this).data('tab-name');

                $(".js-box_tabs-tab").removeClass('is-active');

                $(".js-tabs_content > div").removeClass('is-active');

                $(this).addClass('is-active');

                $(".js-tabs_content > div[data-tab-content="+tabname+"]").addClass('is-active');
            });
            $('.c-faq').click(function () {
                if ($(this).hasClass('c-faq')) {

                    $.ajax({

                        type: "Post",
                        url: "/Product/FAQ/@Model.ProductId",
                        data: { pagenumber: 1, sort: 1, faqcount: 0 },
                        beforeSend: function () {
                              remodalload.open();
                        },
                        success: function (res) {
                            $('#faqlist').html(res);
                            $('#faqcontent').html(To_Fa_Digit($('#faqcontent').html()));
                            $('.c-faq').removeClass('c-faq');
                             setTimeout(function () {remodalload.close();},500);
                        
                        }

                    })
                }
            });
       
            $('.comment-tab').click(function () {

                $('#comment').load("/Product/CommentTab/@Model.ProductId", { fatitle: '@Model.FaTitle' });
            });
           
        });

        function scrolltotab() {
            setTimeout(function () {
                $('html,body').animate({
                    scrollTop: $('#tabs').offset().top - 10
                }, 500)
            }, 500)
        };

        
   

        mobile();
    </script>
}